<h2 class="u-h3 u-mb-small">Prints</h2>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <!--
      =========================================================================================================
      =========================================================================================================
      =========================================================================================================
     -->
    <div class="c-gallery-card">
      <div *ngIf="showContentPrint">
        <div class="row" *ngIf="!showContentPrintErr">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 u-mb-xsmall" *ngFor="let item of printArr"
            (click)="selectMedia(item,$event)" (dblclick)="viewDetail(item)">
            <a class="d-block mb-4 h-100">
              <div class="progressive-image img-fluid img-rounded" [ngClass]="{'selected-image': item.selected}">
                <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
                  [attr.data-image]="item.largeImage | linkHttp">
                </div>
                <div class="overlay"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="row" *ngIf="printArr && printArr.length < 1">
          <div class="col-lg-12 text-center">
            <div class="myCardNotif">
              <div class="u-text-center u-p-medium">
                <img src="../../assets/img/error.png" />
                <p class="apperror u-mt-small">There are no prints available</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="printArr && printArr.length >= perPage">
          <div class="col-lg-12 text-center">
            <button class="btn btn-secondary" (click)="viewMore()" *ngIf="!showLoading">View more</button>
            <button class="btn btn-secondary" *ngIf="showLoading"><span class="fa fa-spinner fa-pulse"></span>&nbsp;
              Loading...</button>
          </div>
        </div>
        <div class="myCardNotif" *ngIf="showContentPrintErr">
          <div class="u-text-center u-p-medium">
            <img src="../../assets/img/error.png" />
            <p class="apperror u-mt-small">{{printContentErr.message}}</p>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!showContentPrint">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 u-mb-xsmall" *ngFor="let item of imagesLoadingArr">
          <app-skeleton-item height="200px"></app-skeleton-item>
        </div>
      </div>
    </div>
  </div>
</div>
