<h2 class="u-h3 u-mb-small">Albums</h2>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <!--
      =========================================================================================================
      =========================================================================================================
      =========================================================================================================
     -->
    <div class="c-gallery-card">
      <div *ngIf="showContentAlbums">
        <div class="row" *ngIf="!showContentAlbumsErr">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of albumsArr">
            <div class="card mb-3 shadow-sm">
              <img class="card-img-top" [src]="item.media?.images[0]?.image400 | linkHttp"
                onError="this.src='../assets/img/thumb.jpg'" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{{item.title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-sm btn-outline-secondary"
                    (click)="viewAlbumImages(item)">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="albumsArr && albumsArr.length < 1">
          <div class="col-lg-12 text-center">
            <div class="myCardNotif">
              <div class="u-text-center u-p-medium">
                <img src="../../assets/img/error.png" />
                <p class="apperror u-mt-small">There are no albums available</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="albumsArr && albumsArr.length >= perPage">
          <div class="col-lg-12 text-center">
            <button class="btn btn-secondary" (click)="viewMore()" *ngIf="!showLoading">View more</button>
            <button class="btn btn-secondary" *ngIf="showLoading"><span class="fa fa-spinner fa-pulse"></span>&nbsp;
              Loading...</button>
          </div>
        </div>
        <div class="myCardNotif" *ngIf="showContentAlbumsErr">
          <div class="text-center padding">
            <img src="../../assets/img/error.png" />
            <p class="apperror">{{albumsContentErr.message}}</p>
          </div>
        </div>
      </div>
      <div class="row text-center text-lg-left" *ngIf="!showContentAlbums">
        <div class="no-image col-lg-4 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of imagesLoadingArr">
          <div class="d-block mb-4 h-100">
            <div class="card mb-3 shadow-sm">
              <app-skeleton-item height="200px"></app-skeleton-item>
              <div class="card-body">
                <app-skeleton-item height="24px" width="67%"></app-skeleton-item>
                <app-skeleton-item height="40px" radius="8px"></app-skeleton-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
