<form class="needs-validation" (ngSubmit)="saveEntry()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="title">Caption</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="image.caption" placeholder="Caption"
              required [disabled]="showLoading">
            <div class="invalid-feedback">
              Image Caption is required.
            </div>
            <small>Caption can only be 80 characters long.</small>
          </div>
          <div class="col-md-6 mb-3">
            <label for="privacy">Privilege</label>
            <select class="form-control" id="privacy" name="privacy" [(ngModel)]="image.privilege" [disabled]="showLoading">
              <option value="public">Public</option>
              <option value="trade">Trade</option>
              <option value="media">Media</option>
              <option value="private">Private</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3 mt-3">
            <label for="title">Market Target</label>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Australia
                  <label class="switch ">
                    <input type="checkbox" name="australia" class="primary" [(ngModel)]="image.markets.australia"
                      [disabled]="disabledMarket">
                    <span class="slider round"></span>
                  </label>
                </li>
                <li class="list-group-item">
                  France
                  <label class="switch ">
                    <input type="checkbox" name="france" class="primary" [(ngModel)]="image.markets.france" [disabled]="disabledMarket">
                    <span class="slider round"></span>
                  </label>
                </li>
                <li class="list-group-item">
                  Germany
                  <label class="switch ">
                    <input type="checkbox" name="germany" class="primary" [(ngModel)]="image.markets.germany"
                      [disabled]="disabledMarket">
                    <span class="slider round"></span>
                  </label>
                </li>
                <li class="list-group-item">
                  Greater China
                  <label class="switch ">
                    <input type="checkbox" name="greaterChina" class="primary" [(ngModel)]="image.markets.greaterChina"
                      [disabled]="disabledMarket">
                    <span class="slider round"></span>
                  </label>
                </li>
                <li class="list-group-item">
                  India
                  <label class="switch ">
                    <input type="checkbox" name="india" class="primary" [(ngModel)]="image.markets.india" [disabled]="disabledMarket">
                    <span class="slider round"></span>
                  </label>
                </li>
                <li class="list-group-item">
                  Japan
                  <label class="switch ">
                    <input type="checkbox" name="japan" class="primary" [(ngModel)]="image.markets.japan" [disabled]="disabledMarket">
                    <span class="slider round"></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Korea
                  <label class="switch ">
                    <input type="checkbox" name="korea" class="primary" [(ngModel)]="image.markets.korea" [disabled]="disabledMarket">
                    <span class="slider round"></span>
                  </label>
                </li>
                <li class="list-group-item">
                  New Zealand
                  <label class="switch ">
                    <input type="checkbox" name="newZealand" class="primary" [(ngModel)]="image.markets.newZealand"
                      [disabled]="disabledMarket">
                    <span class="slider round"></span>
                  </label>
                </li>
                <li class="list-group-item">
                  North America
                  <label class="switch ">
                    <input type="checkbox" name="northAmerica" class="primary" [(ngModel)]="image.markets.northAmerica"
                      [disabled]="disabledMarket">
                    <span class="slider round"></span>
                  </label>
                </li>
                <li class="list-group-item">
                  Singapore
                  <label class="switch ">
                    <input type="checkbox" name="singapore" class="primary" [(ngModel)]="image.markets.singapore"
                      [disabled]="disabledMarket">
                    <span class="slider round"></span>
                  </label>
                </li>
                <li class="list-group-item">
                  United Kingdom
                  <label class="switch ">
                    <input type="checkbox" name="unitedKingdom" class="primary" [(ngModel)]="image.markets.unitedKingdom"
                      [disabled]="disabledMarket">
                    <span class="slider round"></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="showLoading || isSaving"><i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
      Save</button>
    <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="showLoading">Close</button>
  </div>
</form>
