<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider">
    <a routerLink="/media/channels" class="routerLink"><span class="u-text-bold">
        Channels</span></a></h4>
  <h5 class="c-toolbar__meta u-mr-auto">{{channel.title}} Details</h5>
  <!-- <button class="btn btn-sm btn-outline-primary mr-2" (click)="updateChannnel()" [disabled]="showLoading">
    Update
  </button> -->
  <button class="btn btn-sm btn-outline-danger mr-2" (click)="deleteChannels()" [disabled]="showLoading">
    Delete
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()">
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="card" style="width: 100%;">
        <div class="card-body" *ngIf="!showLoading">
          <h6 class="card-subtitle mb-2 text-muted">Title</h6>
          <p class="card-text"><strong>{{channel.title}}</strong></p>
          <a class="card-link">{{channel.totalVideos}} Videos</a>
        </div>
        <div class="card-body" *ngIf="showLoading">
          <app-skeleton-item height="24px"></app-skeleton-item>
          <app-skeleton-item height="24px" width="67%" style="margin-bottom: 12px"></app-skeleton-item>
          <app-skeleton-item height="14px"></app-skeleton-item>
          <app-skeleton-item height="14px"></app-skeleton-item>
          <app-skeleton-item width="67%"></app-skeleton-item>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-8">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
          <button class="btn btn-sm btn-outline-primary mr-2" (click)="addMediaFile('video')" [disabled]="showLoading">
            <span class="icon ion-md-cloud-upload"></span>
            Add Video
          </button>
        </div>
      </div>
      <div *ngIf="!showLoading">
        <div class="row text-center text-lg-left">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" *ngFor="let item of channel.videos">
            <a class="d-block mb-4 h-100" (click)="viewVideoDetail(item)">
              <div class="progressive-image img-fluid img-thumbnail">
                <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
                  [attr.data-image]="item.image800 | linkHttp">
                </div>
                <div class="overlay"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="showLoading">
        <div class="row text-center text-lg-left">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" *ngFor="let item of imagesLoadingArr">
            <div class="d-block mb-4 h-100">
              <app-skeleton-item height="150px"></app-skeleton-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
