<div class="modal-header">
  <h4 class="modal-title pull-left">Assign Platform</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 col-md-12 u-mb-small">
      <h5 class="c-search-form__label">Select Booking Platforms</h5>
      <div class="c-table-responsive@tablet">
        <table class="c-table c-table--zebra u-mb-large" id="datatable2">
          <thead class="c-table__head">
            <tr class="c-table__row">
              <th class="c-table__cell c-table__cell--head">Name</th>
              <th class="c-table__cell c-table__cell--head">
                <span class="u-hidden-visually">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="showContentProducts && platformsArr.length > 0">
            <tr class="c-table__row" *ngFor="let item of platformsArr">
              <td class="c-table__cell">{{item.title}}</td>
              <td class="c-table__cell u-text-right">
                <button class="c-btn c-btn--secondary" [disabled]="item.selected"><i class="fa fa-check u-mr-xsmall"
                    *ngIf="item.selected"></i>
                  Select</button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!showContentProducts">
            <tr class="c-table__row" *ngFor="let item of fakeArr">
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell u-text-right">
                <app-skeleton-item height="39px" width="103px" inline></app-skeleton-item>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center u-mt-medium" *ngIf="contentErr && platformsArr.length < 1">
        <p class="u-text-bold uk-text-warning">{{contentErr}}</p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i
      class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Assign</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()"
    [disabled]="isSaving">Close</button>
</div>
