<div class="modal-header">
  <h4 class="modal-title pull-left">Staff Entry</h4>
</div>
<div class="modal-body">
  <form [formGroup]="entryForm">
    <div class="row">
      <div class="col-sm-12 col-md-12 u-mb-small">
        <div class="c-field">
          <label class="c-field__label" for="name">Name</label>
          <input class="c-input" id="name" name="name" type="text" formControlName="name" placeholder="Name"
            [ngClass]="{'c-input--danger': submitted && f.name.errors}">
          <small *ngIf="submitted && f.name.errors" class="c-field__message u-color-danger">
            <div *ngIf="f.name.errors.required">
              <i class="fa fa-exclamation-circle"></i> Name is required.
            </div>
          </small>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 u-mb-small">
        <div class="c-field">
          <label class="c-field__label" for="title">Title</label>
          <input class="c-input" id="title" name="title" type="text" formControlName="title" placeholder="Title"
            [ngClass]="{'c-input--danger': submitted && f.title.errors}">
          <small *ngIf="submitted && f.title.errors" class="c-field__message u-color-danger">
            <div *ngIf="f.title.errors.required">
              <i class="fa fa-exclamation-circle"></i> Title is required.
            </div>
          </small>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 u-mb-small">
        <div class="c-field">
          <label class="c-field__label" for="email">Email</label>
          <input class="c-input" id="email" name="email" type="email" formControlName="email"
            placeholder="Email Address" [ngClass]="{'c-input--danger': submitted && f.email.errors}">
          <small *ngIf="submitted && f.email.errors" class="c-field__message u-color-danger">
            <div *ngIf="f.email.errors.required">
              <i class="fa fa-exclamation-circle"></i> Email Address is required.
            </div>
          </small>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 u-mb-small">
        <div class="c-field">
          <label class="c-field__label" for="phone">Phone</label>
          <input class="c-input" id="phone" name="phone" type="text" formControlName="phone" placeholder="Phone">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i
      class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Save</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()"
    [disabled]="isSaving">Close</button>
</div>
