<div class="modal-header">
  <h4 class="modal-title pull-left">Creator Entry</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 col-md-12 u-mb-small">
      <div class="c-field">
        <label class="c-field__label" for="type">Type</label>
        <select class="form-control" id="type" [(ngModel)]="creator.type">
          <option value="photographer">Photographer</option>
          <option value="videographer">Videographer</option>
          <option value="illustrator">Illustrator</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 u-mb-small">
      <div class="c-field">
        <label class="c-field__label" for="firstName">First Name</label>
        <input class="c-input" id="firstName" name="firstName" type="text" [(ngModel)]="creator.firstName"
          placeholder="First Name">
      </div>
    </div>
    <div class="col-sm-12 col-md-12 u-mb-small">
      <div class="c-field">
        <label class="c-field__label" for="lastName">Last Name</label>
        <input class="c-input" id="lastName" name="lastName" type="text" [(ngModel)]="creator.lastName"
          placeholder="Last Name">
      </div>
    </div>
    <div class="col-sm-12 col-md-12 u-mb-small">
      <div class="c-field">
        <label class="c-field__label" for="email">Email</label>
        <input class="c-input" id="email" name="email" type="email" [(ngModel)]="creator.email" placeholder="Email">
      </div>
    </div>
    <div class="col-sm-12 col-md-12 u-mb-small">
      <div class="c-field">
        <label class="c-field__label" for="phone">Phone</label>
        <input class="c-input" id="phone" name="phone" type="text" [(ngModel)]="creator.phone" placeholder="Phone">
      </div>
    </div>
    <div class="col-sm-12 col-md-12 u-mb-small">
      <div class="c-field">
        <label class="c-field__label" for="postcode">Postcode</label>
        <input class="c-input" id="postcode" name="postcode" type="text" [(ngModel)]="creator.postcode"
          placeholder="Postcode">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i
      class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Save</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()"
    [disabled]="isSaving">Close</button>
</div>
