<div class="modal-header">
  <h4 class="modal-title pull-left">Connect Settings</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 col-md-12 u-mb-small">
      <h5 class="c-search-form__label">Edit Business Connection for {{business}}</h5>
      <div class="c-search-form__section u-flex u-mt-medium">
        <div class="c-choice c-choice--radio u-mr-small">
          <input class="c-choice__input" id="radio1" name="radios" type="radio" value="full" [(ngModel)]="connectSettings">
          <label class="c-choice__label" for="radio1">Full Role</label>
        </div>

        <div class="c-choice c-choice--radio">
          <input class="c-choice__input" id="radio2" name="radios" type="radio" value="products" [(ngModel)]="connectSettings">
          <label class="c-choice__label" for="radio2">Products</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i
      class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Save</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()"
    [disabled]="isSaving">Close</button>
</div>
