<article class="c-stage" id="stages" *ngIf="showContent">
  <a class="c-stage__header u-flex u-justify-between">
    <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Details</h6>
  </a>
  <div class="c-stage__panel c-stage__panel--mute">
    <form [formGroup]="timeForm" (ngSubmit)="saveProductChanges('time')">
      <div class="u-p-small u-mb-medium u-border">
        <small class="u-text-mute">
          Product listings sometimes require more information then just a description and pricing. Here you
          are
          able to add more detailed information about your product. If any of this information does not apply
          to
          your product then please leave it blank.
        </small>
      </div>
      <div class="col-12 u-mb-medium">
        <h5 class="u-h6">Product operational times</h5>
        <div class="u-p-small u-mb-small u-border">
          <small class="u-text-mute">
            Please provide start and end times for this product. If the product is a tour, then times would
            be
            when the tour starts and ends. If the product is an attraction then times would be open and
            closing
            times for the attraction.
          </small>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="c-field">
              <label class="c-field__label" for="input14">Start Time</label>
              <input class="c-input timepicker ui-timepicker-input"
                [ngClass]="{'c-input--danger': submitted && fTime.startTime.errors}" id="operational-start-time"
                type="text" autocomplete="off" formControlName="startTime">
              <small *ngIf="submitted && fTime.startTime.errors" class="c-field__message u-color-danger">
                <div *ngIf="fTime.startTime.errors.required">
                  <i class="fa fa-exclamation-circle"></i> Start time is required.
                </div>
              </small>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="c-field">
              <label class="c-field__label" for="input14">End Time</label>
              <input class="c-input timepicker ui-timepicker-input"
                [ngClass]="{'c-input--danger': submitted && fTime.endTime.errors}" id="operational-end-time" type="text"
                autocomplete="off" formControlName="endTime">
              <small *ngIf="submitted && fTime.endTime.errors" class="c-field__message u-color-danger">
                <div *ngIf="fTime.endTime.errors.required">
                  <i class="fa fa-exclamation-circle"></i> End time is required.
                </div>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 u-mb-medium u-pb-medium u-border-bottom">
        <h5 class="u-h6">Product duration time</h5>
        <!---->
        <div class="u-p-small u-mb-small u-border">
          <p class="u-text-mute">
            Please provide the number of hours that the product is open for. For tours this would mean the
            total length of the tour and for attractions this would be the length of the opening hours.
          </p>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="c-field">
              <label class="c-field__label" for="input14">Duration time (hrs):</label>
              <input class="c-input" [ngClass]="{'c-input--danger': submitted && fTime.duration.errors}"
                id="duration-time" type="number" formControlName="duration">
              <small *ngIf="submitted && fTime.duration.errors" class="c-field__message u-color-danger">
                <div *ngIf="fTime.duration.errors.required">
                  <i class="fa fa-exclamation-circle"></i> Duration Time is required.
                </div>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="u-mt-small u-mb-small u-ml-small">
        <button class="c-btn c-btn--info" type="submit" [disabled]="isSaving"><i class="fa fa-spinner fa-pulse"
            *ngIf="isSaving"></i> Update</button>
      </div>
    </form>
  </div>
</article>
<article class="c-stage" id="stages" *ngIf="!showContent">
  <app-skeleton-item height="650px"></app-skeleton-item>
</article>
<article class="c-stage" id="stages" *ngIf="showContent">
  <a class="c-stage__header u-flex u-justify-between">
    <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Additional Features</h6>
  </a>
  <div class="c-stage__panel c-stage__panel--mute">
    <tabset>
      <tab heading="Transport">
        <div class="u-p-small u-border u-border">
          <small class="u-text-mute">
            Please provide some information regarding pick up or drop off information. Information here
            could included where to be picked up or where to meet. This information is to help the customer
            satisfy transport requirements.
          </small>
        </div>
        <quill-editor [modules]="textEditorConfig" [style]="{height: '150px'}" [(ngModel)]="product.transportText">
        </quill-editor>
        <div class="u-mt-small u-mb-small u-ml-small">
          <button class="c-btn c-btn--info" (click)="saveChanges('information')" [disabled]="isSaving"
            *ngIf="action != 'connect' && business.role == 1"><i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
            Update</button>
        </div>
      </tab>
      <tab heading="Purchases">
        <div class="u-p-small u-border u-border">
          <small class="u-text-mute">
            Please provide any information regarding additional purchase options. This can include items
            that are available and not covered by the initial product cost. Items could include: drinks,
            camera hire, scuba dive, photos etc.
          </small>
        </div>
        <quill-editor [modules]="textEditorConfig" [style]="{height: '150px'}" [(ngModel)]="product.purchasesText">
        </quill-editor>
        <div class="u-mt-small u-mb-small u-ml-small">
          <button class="c-btn c-btn--info" (click)="saveChanges('information')" [disabled]="isSaving"
            *ngIf="action != 'connect' && business.role == 1"><i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
            Update</button>
        </div>
      </tab>
      <tab heading="Packing">
        <div class="u-p-small u-border u-border">
          <small class="u-text-mute">
            Please provide any information regarding what a customer should bring with them. This
            information is to help them understand their requirements when preparing for the product.
          </small>
        </div>
        <quill-editor [modules]="textEditorConfig" [style]="{height: '150px'}" [(ngModel)]="product.packingText">
        </quill-editor>
        <div class="u-mt-small u-mb-small u-ml-small">
          <button class="c-btn c-btn--info" (click)="saveChanges('information')" [disabled]="isSaving"
            *ngIf="action != 'connect' && business.role == 1"><i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
            Update</button>
        </div>
      </tab>
      <tab heading="Health">
        <div class="u-p-small u-border u-border">
          <small class="u-text-mute">
            Please provide any information regarding the level of fitness of competency of a customer for
            this product. This information is to help them understand if they will be able to enjoy the
            product based on their own competency level.
          </small>
        </div>
        <quill-editor [modules]="textEditorConfig" [style]="{height: '150px'}" [(ngModel)]="product.healthText">
        </quill-editor>
        <div class="u-mt-small u-mb-small u-ml-small">
          <button class="c-btn c-btn--info" (click)="saveChanges('information')" [disabled]="isSaving"
            *ngIf="action != 'connect' && business.role == 1"><i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
            Update</button>
        </div>
      </tab>
      <tab heading="Children">
        <div class="u-p-small u-border u-border">
          <small class="u-text-mute">
            Does the product have a child policy or additional options for children. If so, then please
            provide some information regarding this.
          </small>
        </div>
        <quill-editor [modules]="textEditorConfig" [style]="{height: '150px'}" [(ngModel)]="product.childrenText">
        </quill-editor>
        <div class="u-mt-small u-mb-small u-ml-small">
          <button class="c-btn c-btn--info" (click)="saveChanges('information')" [disabled]="isSaving"
            *ngIf="action != 'connect' && business.role == 1"><i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
            Update</button>
        </div>
      </tab>
      <tab heading="Other">
        <div class="u-p-small u-border u-border">
          <small class="u-text-mute">
            If there is additional information about your product that you would like to add and feel that
            this information has not been covered in the above options, then please add that information
            here.
          </small>
        </div>
        <quill-editor [modules]="textEditorConfig" [style]="{height: '150px'}" [(ngModel)]="product.additionalText">
        </quill-editor>
        <div class="u-mt-small u-mb-small u-ml-small">
          <button class="c-btn c-btn--info" (click)="saveChanges('information')" [disabled]="isSaving"
            *ngIf="action != 'connect' && business.role == 1"><i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
            Update</button>
        </div>
      </tab>
    </tabset>
  </div>
</article>
<article class="c-stage" id="stages" *ngIf="!showContent">
  <app-skeleton-item height="430px"></app-skeleton-item>
</article>
<article class="c-stage" id="stages" *ngIf="showContent">
  <a class="c-stage__header u-flex u-justify-between">
    <h6 class="u-text-mute u-text-uppercase u-text-small u-mb-zero">Product Terms</h6>
  </a>
  <div class="c-stage__panel c-stage__panel--mute">
    <form [formGroup]="termsForm" (ngSubmit)="saveProductChanges('terms')">
      <div class="col-12 col-sm-12 u-border-bottom">
        <div class="c-field u-p-small">
          <label class="c-field__label" for="input13">Terms</label>
          <textarea class="c-input" id="product_terms"
            [ngClass]="{'c-input--danger': submitted && fTerms.termsText.errors}"
            formControlName="termsText"></textarea>
          <small *ngIf="submitted && fTerms.termsText.errors" class="c-field__message u-color-danger">
            <div *ngIf="fTerms.termsText.errors.required">
              <i class="fa fa-exclamation-circle"></i> Product Terms is required.
            </div>
          </small>
        </div>
      </div>
      <div class="u-mt-small u-mb-small u-ml-small">
        <button class="c-btn c-btn--info" type="submit" [disabled]="isSaving"><i class="fa fa-spinner fa-pulse"
            *ngIf="isSaving"></i> Update</button>
      </div>
    </form>
  </div>
</article>
<article class="c-stage" id="stages" *ngIf="!showContent">
  <app-skeleton-item height="265px"></app-skeleton-item>
</article>
