<div class="modal-header">
  <h4 class="modal-title pull-left">Add to Collection</h4>
</div>
<div class="modal-body">
  <div *ngIf="showContentCollections">
    <!--
      ==========================================================================================
      ==========================================================================================
      ==========================================================================================
       -->
    <div class="row u-p-small" *ngIf="!showContentCollectionsErr">
      <div class="col-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let item of collectionArr" (click)="selectMedia(item)">
        <div class="c-project" [ngClass]="{'selected-image': item.selected}">
          <div class="c-project__img">
            <img [src]="item.image" (error)="this.src='../assets/img/thumb.jpg'">
          </div>
          <h3 class="c-project__title">{{item.title}}</h3>
        </div>
      </div>
    </div>
    <div class="card myCardNotif" *ngIf="showContentCollectionsErr">
      <div class="text-center padding">
        <img src="../../assets/img/error.png" />
        <p class="apperror">{{collectionsContentErr.message}}</p>
      </div>
    </div>
    <!--
      ==========================================================================================
      ==========================================================================================
      ==========================================================================================
       -->
  </div>
  <div *ngIf="!showContentCollections">
    <div class="row u-p-small">
      <div class="col-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let item of imagesLoadingArr">
        <div class="c-event__img">
          <app-skeleton-item height="167px"></app-skeleton-item>
        </div>
      </div>
    </div>
  </div>
  <!--
      ==========================================================================================
      ==========================================================================================
      ==========================================================================================
       -->
  <div class="row" *ngIf="collectionArr && collectionArr.length > 0">
    <div class="col-lg-12">
      <pagination class="pull-right" [boundaryLinks]="true" [maxSize]="5" [itemsPerPage]="perPage" [totalItems]="totalImageCount"
        [(ngModel)]="pageImage" pageBtnClass="c-pagination__item" (pageChanged)="viewMore($event)" previousText="<i class='fa fa-caret-left'></i> Previous"
        nextText="Next <i class='fa fa-caret-right'></i>"></pagination>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i class="fa fa-spinner fa-pulse"
      *ngIf="isSaving"></i> Save Changes</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="isSaving">Close</button>
</div>
