<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider"><span class="u-text-bold"> Channels</span></h4>
  <div class="u-mr-auto"></div>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="createChannel('create')"
    [disabled]="!showContentChannels" *ngIf="business.role == 1">
    Create Channel
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()" [disabled]="!showContentChannels">
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row" *ngIf="showContentChannels && !showContentChannelsErr">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngFor="let item of channelArr">
      <div class="card mb-3 shadow-sm">
        <!-- <img class="card-img-top" [src]="item.video[0]?.image400 | linkHttp" onError="this.src='../assets/img/thumb.jpg'"
          *ngIf="item.video != null"> -->
        <div class="progressive-image card-img-top" *ngIf="item.video != null" style="height: 200px;">
          <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.video[0]?.image200 | linkHttp) + ')'}"
            [attr.data-image]="item.video[0]?.previewImage | linkHttp">
          </div>
          <div class="overlay"></div>
        </div>
        <img src="../assets/img/thumb.jpg" *ngIf="item.video == null">
        <div class="card-body">
          <p class="card-text"><b>{{item.title}}</b></p>
          <p class="card-text" *ngIf="item.totalVideos">{{item.totalVideos}} Videos</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="viewChannel(item)">View</button>
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteChannels(item)"
                *ngIf="business.role == 1">Delete</button>
            </div>
            <!-- <small class="text-muted">9 mins</small> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card myCardNotif" *ngIf="showContentChannelsErr">
    <div class="text-center padding">
      <img src="../../assets/img/error.png" />
      <p class="apperror">{{channelsContentErr.message}}</p>
    </div>
  </div>
  <div class="row text-center text-lg-left" *ngIf="!showContentChannels">
    <div class="no-image col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngFor="let item of imagesLoadingArr">
      <div class="d-block mb-4 h-100">
        <div class="card mb-3 shadow-sm">
          <app-skeleton-item height="200px"></app-skeleton-item>
          <div class="card-body">
            <app-skeleton-item height="24px" width="67%"></app-skeleton-item>
            <app-skeleton-item height="14px" width="47%"></app-skeleton-item>
            <app-skeleton-item height="40px" radius="8px"></app-skeleton-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
