<h2 class="u-h3 u-mb-small">Products</h2>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <!--
      =========================================================================================================
      =========================================================================================================
      =========================================================================================================
     -->
    <div class="c-gallery-card">
      <div class="c-table-responsive@tablet">
        <table class="c-table c-table--zebra u-mb-large" id="datatable2">
          <thead class="c-table__head">
            <tr class="c-table__row">
              <th class="c-table__cell c-table__cell--head">Image</th>
              <th class="c-table__cell c-table__cell--head">Product</th>
              <th class="c-table__cell c-table__cell--head"></th>
              <th class="c-table__cell c-table__cell--head">
                <span class="u-hidden-visually">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="showContentProducts">
            <tr class="c-table__row" *ngFor="let item of productArr">
              <td class="c-table__cell">
                <div class="c-avatar c-avatar--small">
                  <img class="c-avatar__img" [src]="item.image?.thumbImage | linkHttp"
                    (error)="errorAvatarHandler($event)">
                </div>
              </td>
              <td class="c-table__cell">{{item.title}}</td>
              <td class="c-table__cell">
                <span class="c-badge c-badge--info u-mr-xsmall" *ngIf="item.primary">Primary</span>
              </td>
              <td class="c-table__cell u-text-right">
                <button class="c-btn c-btn--secondary" (click)="viewDetail(item)">View Product</button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!showContentProducts">
            <tr class="c-table__row" *ngFor="let item of imagesLoadingArr">
              <td class="c-table__cell">
                <app-skeleton-item height="50px" width="50px" rounded></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell u-text-right">
                <app-skeleton-item height="39px" width="103px" inline></app-skeleton-item>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
