<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
</div>
<div class="modal-body">
  <div class="dropzone dropzone-container" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isUploading"><i class="fa fa-spinner fa-pulse"
      *ngIf="isUploading"></i> Upload</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="isUploading">Close</button>
</div>
