<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider"><span class="u-text-bold"> Collections</span></h4>
  <div class="u-mr-auto"></div>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="createCollection('create')"
    [disabled]="!showContentCollections" *ngIf="business.role == 1">
    Create Collection
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()" [disabled]="!showContentCollections">
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row" *ngIf="showContentCollections && !showContentCollectionsErr">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngFor="let item of collectionArr">
      <div class="card mb-3 shadow-sm">
        <img class="card-img-top" [src]="item.images[0]?.image400 | linkHttp"
          onError="this.src='../assets/img/thumb.jpg'" *ngIf="item.images != null">
        <img src="../assets/img/thumb.jpg" *ngIf="item.images == null">
        <div class="card-body">
          <p class="card-text"><b>{{item.title}}</b></p>
          <p class="card-text"><small>{{item.totalImages}} Images | {{item.totalPrints}} Prints |
              {{item.totalVideos}} Videos</small></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"
                (click)="viewCollections(item)">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="createCollection('update',item)"
                *ngIf="business.role == 1">Update</button>
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteCollection(item)"
                *ngIf="business.role == 1">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card myCardNotif" *ngIf="showContentCollectionsErr">
    <div class="text-center padding">
      <img src="../../assets/img/error.png" />
      <p class="apperror">{{collectionsContentErr.message}}</p>
    </div>
  </div>
  <div class="row text-center text-lg-left" *ngIf="!showContentCollections">
    <div class="no-image col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngFor="let item of imagesLoadingArr">
      <div class="d-block mb-4 h-100">
        <div class="card mb-3 shadow-sm">
          <app-skeleton-item height="200px"></app-skeleton-item>
          <div class="card-body">
            <app-skeleton-item height="24px" width="67%"></app-skeleton-item>
            <app-skeleton-item height="40px" radius="8px"></app-skeleton-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
