<div class="window app-login">
  <header class="toolbar toolbar-header">
    <h1 class="title">&nbsp;</h1>
    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn-default" (click)="back()">
          <span class="icon icon-left-open"></span>
        </button>
        <!-- <button class="btn btn-default">
          <span class="icon icon-right-open"></span>
        </button> -->
      </div>
    </div>
  </header>
  <div class="window-content">
    <div class="pane text-center">
      <div>
        <article class="card-body mx-auto" style="max-width: 400px;">
          <h4 class="card-title mt-3 text-center">Forgot Password</h4>
          <p class="text-center">Your password will be sent to your phone or email</p>
          <form>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="icon icon-mail"></i> </span>
              </div>
              <input name="" class="form-control" placeholder="Email address" type="email">
            </div> <!-- form-group// -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Submit </button>
            </div> <!-- form-group// -->
            <p class="text-center">Don't have an account yet? <a routerLink="/register">Sign Up</a> </p>
          </form>
        </article>
      </div> <!-- card.// -->
    </div>
  </div>
  <footer class="toolbar toolbar-footer">
    <h1 class="title">&nbsp;</h1>
  </footer>
</div>
