<div class="modal-header">
  <h4 class="modal-title pull-left">Update Social Links</h4>
</div>
<div class="modal-body">
  <form [formGroup]="entryForm">
    <div class="u-p-medium">
      <div class="row">
        <div class="col-sm-12 col-md-6 u-mb-small">
          <div class="c-field">
            <label class="c-field__label" for="tripadvisor"><i class="fa fa-tripadvisor"></i> Trip
              Advisor</label>
            <div class="c-field has-addon-right">
              <input class="c-input" id="tripadvisor" [ngClass]="{'c-input--danger': submitted && f.tripadvisor.errors}"
                name="tripadvisor" type="text" formControlName="tripadvisor" placeholder="Trip Advisor">
              <span class="c-field__addon"><i class="fa fa-copy"></i></span>
            </div>
            <small *ngIf="submitted && f.tripadvisor.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.tripadvisor.errors.required">
                <i class="fa fa-exclamation-circle"></i> Trip Advisor field is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 u-mb-small">
          <div class="c-field">
            <label class="c-field__label" for="facebook"><i class="fa fa-facebook"></i> Facebook</label>
            <div class="c-field has-addon-right">
              <input class="c-input" id="facebook" [ngClass]="{'c-input--danger': submitted && f.facebook.errors}"
                name="facebook" type="text" formControlName="facebook" placeholder="Facebook">
              <span class="c-field__addon"><i class="fa fa-copy"></i></span>
            </div>
            <small *ngIf="submitted && f.facebook.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.facebook.errors.required">
                <i class="fa fa-exclamation-circle"></i> Facebook field is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 u-mb-small">
          <div class="c-field">
            <label class="c-field__label" for="twitter"><i class="fa fa-twitter"></i> Twitter</label>
            <div class="c-field has-addon-right">
              <input class="c-input" id="twitter" [ngClass]="{'c-input--danger': submitted && f.twitter.errors}"
                name="twitter" type="text" formControlName="twitter" placeholder="Twitter">
              <span class="c-field__addon"><i class="fa fa-copy"></i></span>
            </div>
            <small *ngIf="submitted && f.twitter.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.twitter.errors.required">
                <i class="fa fa-exclamation-circle"></i> Twitter field is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 u-mb-small">
          <div class="c-field">
            <label class="c-field__label" for="instagram"><i class="fa fa-instagram"></i> Instagram</label>
            <div class="c-field has-addon-right">
              <input class="c-input" [ngClass]="{'c-input--danger': submitted && f.instagram.errors}" id="instagram"
                name="instagram" type="text" formControlName="instagram" placeholder="Instagram">
              <span class="c-field__addon"><i class="fa fa-copy"></i></span>
            </div>
            <small *ngIf="submitted && f.instagram.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.instagram.errors.required">
                <i class="fa fa-exclamation-circle"></i> Instagram field is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 u-mb-small">
          <div class="c-field">
            <label class="c-field__label" for="youtube"><i class="fa fa-youtube"></i> Youtube</label>
            <div class="c-field has-addon-right">
              <input class="c-input" [ngClass]="{'c-input--danger': submitted && f.youtube.errors}" id="youtube"
                name="youtube" type="text" formControlName="youtube" placeholder="Youtube">
              <span class="c-field__addon"><i class="fa fa-copy"></i></span>
            </div>
            <small *ngIf="submitted && f.youtube.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.youtube.errors.required">
                <i class="fa fa-exclamation-circle"></i> Youtube field is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 u-mb-small">
          <div class="c-field">
            <label class="c-field__label" for="vimeo"><i class="fa fa-vimeo"></i> Vimeo</label>
            <div class="c-field has-addon-right">
              <input class="c-input" [ngClass]="{'c-input--danger': submitted && f.vimeo.errors}" id="vimeo"
                name="vimeo" type="text" formControlName="vimeo" placeholder="Vimeo">
              <span class="c-field__addon"><i class="fa fa-copy"></i></span>
            </div>
            <small *ngIf="submitted && f.vimeo.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.vimeo.errors.required">
                <i class="fa fa-exclamation-circle"></i> Vimeo field is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 u-mb-small">
          <div class="c-field">
            <label class="c-field__label" for="pinterest"><i class="fa fa-pinterest"></i> Pinterest</label>
            <div class="c-field has-addon-right">
              <input class="c-input" [ngClass]="{'c-input--danger': submitted && f.pinterest.errors}" id="pinterest"
                name="pinterest" type="text" formControlName="pinterest" placeholder="Pinterest">
              <span class="c-field__addon"><i class="fa fa-copy"></i></span>
            </div>
            <small *ngIf="submitted && f.pinterest.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.pinterest.errors.required">
                <i class="fa fa-exclamation-circle"></i> Pinterest field is required.
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i class="fa fa-spinner fa-pulse"
      *ngIf="isSaving"></i>
    Update</button>
  <button class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="isSaving">Close</button>
</div>
