<div class="modal-header">
  <h4 class="modal-title pull-left">Update</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="entryForm">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="title">Caption</label>
            <input type="text" class="form-control" id="title" name="title" formControlName="brochure_caption"
              [ngClass]="{'c-input--danger': submitted && f.brochure_caption.errors}" placeholder="Caption" required>
            <small *ngIf="submitted && f.brochure_caption.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.brochure_caption.errors.required">
                <i class="fa fa-exclamation-circle"></i> Caption is required.
              </div>
            </small>
          </div>
          <div class="col-md-6 mb-3">
            <label for="privacy">Type</label>
            <select class="form-control" id="privacy" name="privacy" formControlName="type"
              [ngClass]="{'c-input--danger': submitted && f.type.errors}"
              [ngClass]="{'c-input--danger': submitted && f.type.errors}">
              <option value="Guide">Guide</option>
              <option value="Infographic">Infographic</option>
              <option value="Itirenary">Itirenary</option>
              <option value="Map">Map</option>
              <option value="Promotional">Promotional</option>
            </select>
            <small *ngIf="submitted && f.type.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.type.errors.required">
                <i class="fa fa-exclamation-circle"></i> Type is required.
              </div>
            </small>
          </div>
          <div class="col-md-6 mb-3">
            <label for="privacy">Privilege</label>
            <select class="form-control" id="privacy" name="privacy" formControlName="privacy"
              [ngClass]="{'c-input--danger': submitted && f.privacy.errors}">
              <option value="public">Public</option>
              <option value="trade">Trade</option>
              <option value="media">Media</option>
              <option value="private">Private</option>
            </select>
            <small *ngIf="submitted && f.privacy.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.privacy.errors.required">
                <i class="fa fa-exclamation-circle"></i> Type is required.
              </div>
            </small>
          </div>
          <div class="col-md-6 mb-3">
            <label for="title">Validity</label>
            <input class="c-input timepicker ui-timepicker-input" id="validityDate" data-toggle="datepicker" name="validityDate"
              [ngClass]="{'c-input--danger': submitted && f.validityDate.errors}" type="text" autocomplete="off"
              formControlName="validityDate">
            <small *ngIf="submitted && f.validityDate.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.validityDate.errors.required">
                <i class="fa fa-exclamation-circle"></i> Validity is required.
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="saveChanges()"><i class="fa fa-spinner fa-pulse"
      *ngIf="isSaving"></i>
    Save</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()">Close</button>
</div>
