<h2 class="u-h3 u-mb-small">Collections</h2>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <!--
      =========================================================================================================
      =========================================================================================================
      =========================================================================================================
     -->
    <div class="c-gallery-card">
      <div *ngIf="showContentCollections">
        <div class="row" *ngIf="!showContentCollectionsErr">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of collectionArr">
            <div class="card mb-3 shadow-sm">
              <img class="card-img-top" [src]="item.images[0]?.image400 | linkHttp"
                onError="this.src='../assets/img/thumb.jpg'" *ngIf="item.images != null">
              <img src="../assets/img/thumb.jpg" *ngIf="item.images == null">
              <div class="card-body">
                <p class="card-text"><b>{{item.title}}</b></p>
                <p class="card-text"><small>{{item.totalImages}} Images | {{item.totalPrints}} Prints |
                    {{item.totalVideos}} Videos</small></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                      (click)="viewCollections(item)">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                      (click)="createCollection('update',item)">Update</button>
                    <button type="button" class="btn btn-sm btn-outline-danger"
                      (click)="deleteCollection(item)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="collectionArr && collectionArr.length < 1">
          <div class="col-lg-12 text-center">
            <div class="myCardNotif">
              <div class="u-text-center u-p-medium">
                <img src="../../assets/img/error.png" />
                <p class="apperror u-mt-small">There are no channels available</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="collectionArr && collectionArr.length >= perPage">
          <div class="col-lg-12 text-center">
            <button class="btn btn-secondary" (click)="viewMore()" *ngIf="!showLoading">View more</button>
            <button class="btn btn-secondary" *ngIf="showLoading"><span class="fa fa-spinner fa-pulse"></span>&nbsp;
              Loading...</button>
          </div>
        </div>
        <div class="myCardNotif" *ngIf="showContentCollectionsErr">
          <div class="u-text-center u-p-medium">
            <img src="../../assets/img/error.png" />
            <p class="apperror u-mt-small">{{collectionsContentErr.message}}</p>
          </div>
        </div>
      </div>
      <div class="row text-center text-lg-left" *ngIf="!showContentCollections">
        <div class="no-image col-lg-4 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of imagesLoadingArr">
          <div class="d-block mb-4 h-100">
            <div class="card mb-3 shadow-sm">
              <app-skeleton-item height="200px"></app-skeleton-item>
              <div class="card-body">
                <app-skeleton-item height="24px" width="67%"></app-skeleton-item>
                <app-skeleton-item height="40px" radius="8px"></app-skeleton-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
