<div class="modal-header">
  <h4 class="modal-title pull-left">Update</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="entryForm">
    <div class="row">
      <div class="col-md-12 mb-3">
        <label for="title">Caption</label>
        <input type="text" class="form-control" [ngClass]="{'c-input--danger': submitted && f.caption.errors}"
          id="caption" name="caption" formControlName="caption" placeholder="Caption" required>
        <small *ngIf="submitted && f.caption.errors" class="c-field__message u-color-danger">
          <div *ngIf="f.caption.errors.required">
            <i class="fa fa-exclamation-circle"></i> Caption is required.
          </div>
        </small>
      </div>
      <div class="col-md-12 mb-3">
        <label for="privacy">Privilege</label>
        <select class="form-control" [ngClass]="{'c-input--danger': submitted && f.privacy.errors}" id="privacy"
          name="privacy" formControlName="privacy">
          <option value="public">Public</option>
          <option value="trade">Trade</option>
          <option value="media">Media</option>
          <option value="private">Private</option>
        </select>
        <small *ngIf="submitted && f.privacy.errors" class="c-field__message u-color-danger">
          <div *ngIf="f.privacy.errors.required">
            <i class="fa fa-exclamation-circle"></i> Privacy is required.
          </div>
        </small>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" [disabled]="isSaving" (click)="saveChanges()"><i
      class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
    Save</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()"
    [disabled]="isSaving">Close</button>
</div>
