<div class="modal-header">
  <h4 class="modal-title pull-left">Collection Entry</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()" [disabled]="showLoading">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form class="needs-validation">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="title">Collection Name</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="collection.title" placeholder="Collection Name"
              required>
            <div class="invalid-feedback">
              Collection name is required.
            </div>
            <small>Please enter a name for your collection. You will be able to edit this name later.</small>
          </div>
          <div class="col-md-12 mb-3" *ngIf="action == 'update'">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="collection.description"
              placeholder="Description" required></textarea>
          </div>
          <div class="col-md-12 mb-3" *ngIf="action == 'update'">
            <label for="privacy">Privacy</label>
            <select class="form-control" id="privacy" name="privacy" [(ngModel)]="collection.privacy">
              <option value="public">Public</option>
              <option value="trade">Trade</option>
              <option value="media">Media</option>
              <option value="private">Private</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveEntry()" [disabled]="showLoading"><i class="fa fa-spinner fa-pulse"
      *ngIf="showLoading"></i> Save Changes</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="showLoading">Close</button>
</div>
