<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider"><span class="u-text-bold"> Staff Directory</span></h4>
  <div class="u-mr-auto"></div>
  <button class="btn btn-sm btn-outline-primary mr-2" [disabled]="!showContent" (click)="createStaff()">
    Add New Staff
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()">
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row u-mb-medium">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="c-table-responsive@tablet">
        <table class="c-table c-table--zebra u-mb-large" id="datatable2">
          <thead class="c-table__head">
            <tr class="c-table__row">
              <th class="c-table__cell c-table__cell--head">Name</th>
              <th class="c-table__cell c-table__cell--head">Email</th>
              <th class="c-table__cell c-table__cell--head">Phone</th>
              <th class="c-table__cell c-table__cell--head" *ngIf="business.role == 1">
                <span class="u-hidden-visually">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="showContent">
            <tr class="c-table__row" *ngFor="let user of contactsArr">
              <td class="c-table__cell">
                {{user.name}} <small>({{user.title}})</small>
              </td>
              <td class="c-table__cell">
                {{user.email}}
              </td>
              <td class="c-table__cell">
                {{user.phone}}
              </td>
              <td class="c-table__cell u-text-right" *ngIf="business.role == 1">
                <div class="c-dropdown dropdown u-ml-small" dropdown>
                  <button aria-expanded="false" aria-haspopup="true" dropdownToggle
                    class="c-btn c-btn--secondary has-dropdown">Actions</button>
                  <div aria-labelledby="dropdownMenuButton10" *dropdownMenu class="c-dropdown__menu dropdown-menu">
                    <a class="c-dropdown__item dropdown-item" (click)="updateStaff(user)">
                      <i class="fa fa-pencil u-mr-xsmall"></i>Edit
                    </a>
                    <a class="c-dropdown__item dropdown-item" (click)="deleteStaff(user)">
                      <i class="fa fa-trash u-mr-xsmall"></i> Delete
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!showContent">
            <tr class="c-table__row" *ngFor="let item of fakeArr">
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell u-text-right">
                <app-skeleton-item height="39px" width="103px" inline></app-skeleton-item>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
