<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider"><span class="u-text-bold"> Logos</span></h4>
  <div class="u-mr-auto"></div>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="uploadMedia()" [disabled]="showLoading"
    *ngIf="showUpload && !showDragDropUpload && business.role == 1">
    Upload
  </button>
  <button class="btn btn-sm btn-outline-danger mr-2" (click)="cancelUploadMedia()" [disabled]="showLoading"
    *ngIf="showDragDropUpload && business.role == 1">
    Cancel Upload
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()" *ngIf="!showDragDropUpload">
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row" (drop)="drop($event)" (dragover)="allowDrop($event)">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div *ngIf="showDragDropUpload" class="dropzone dropzone-container" [dropzone]="config"
        (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
      <!--
        =========================================================================================================
        =========================================================================================================
        =========================================================================================================
       -->
      <div class="c-gallery-card" *ngIf="!showDragDropUpload">
        <div *ngIf="showContentLogo">
          <div class="row" *ngIf="!showContentLogoErr">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" *ngFor="let item of logosArr"
              (click)="selectMedia(item,$event)" (dblclick)="viewDetail(item)">
              <a class="d-block mb-4 h-100">
                <div class="progressive-image img-fluid img-rounded" [ngClass]="{'selected-image': item.selected}">
                  <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
                    [attr.data-image]="item.largeImage | linkHttp">
                  </div>
                  <div class="overlay"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="row" *ngIf="logosArr && logosArr.length >= perPage">
            <div class="col-lg-12 text-center">
              <button class="btn btn-secondary" (click)="viewMore()" *ngIf="!showLoading">View more</button>
              <button class="btn btn-secondary" *ngIf="showLoading"><span class="fa fa-spinner fa-pulse"></span>&nbsp;
                Loading...</button>
            </div>
          </div>
          <div class="card myCardNotif" *ngIf="showContentLogoErr">
            <div class="text-center padding">
              <img src="../../assets/img/error.png" />
              <p class="apperror">{{logoContentErr.message}}</p>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!showContentLogo">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 u-mb-xsmall" *ngFor="let item of imagesLoadingArr">
            <!-- <app-skeleton-item height="220px" width="220px"></app-skeleton-item> -->
            <app-skeleton-item height="200px"></app-skeleton-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
