<div class="o-page__card">
  <div class="c-card u-mb-xsmall">
    <header class="c-card__header u-pt-large">
      <a class="c-card__icon">
        <img src="./assets/img/logo_red.png" alt="Dashboard UI Kit">
      </a>
      <h1 class="u-h3 u-text-center u-mb-zero">Please sign into Narnoo</h1>
    </header>

    <form class="c-card__body">
      <div class="c-field u-mb-small">
        <label class="c-field__label" for="input1">E-mail address</label>
        <input class="c-input" type="email" id="input1" name="input1" [(ngModel)]="users.username" required autofocus
          placeholder="Email Address">
      </div>

      <div class="c-field u-mb-small">
        <label class="c-field__label" for="input2">Password</label>
        <input class="c-input" type="password" id="input2" name="input2" [(ngModel)]="users.password" required
          placeholder="Password">
      </div>

      <button class="c-btn c-btn--info c-btn--fullwidth" (click)="loginApp()">Sign in to Dashboard</button>
    </form>
  </div>
</div>
