<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider"><span class="u-text-bold"> Products</span></h4>
  <div class="u-mr-auto"></div>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="createProduct()" [disabled]="!showContentProducts"  *ngIf="business.role == 1">
    Create Product
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()">
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row u-mb-medium">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="c-table-responsive@tablet">
        <table class="c-table c-table--zebra u-mb-large" id="datatable2">
          <thead class="c-table__head">
            <tr class="c-table__row">
              <th class="c-table__cell c-table__cell--head">Image</th>
              <th class="c-table__cell c-table__cell--head">Product</th>
              <th class="c-table__cell c-table__cell--head"></th>
              <th class="c-table__cell c-table__cell--head">
                <span class="u-hidden-visually">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="showContentProducts">
            <tr class="c-table__row" *ngFor="let item of productArr">
              <td class="c-table__cell">
                <div class="c-avatar c-avatar--small">
                  <img class="c-avatar__img" [src]="item.image?.thumbImage | linkHttp" (error)="errorAvatarHandler($event)">
                </div>
              </td>
              <td class="c-table__cell">{{item.title}}</td>
              <td class="c-table__cell">
                <span class="c-badge c-badge--info u-mr-xsmall" *ngIf="item.primary">Primary</span>
              </td>
              <td class="c-table__cell u-text-right">
                <div class="c-dropdown dropdown u-ml-small" dropdown>
                  <button aria-expanded="false" aria-haspopup="true" dropdownToggle class="c-btn c-btn--secondary has-dropdown">Actions</button>
                  <div aria-labelledby="dropdownMenuButton10" *dropdownMenu class="c-dropdown__menu dropdown-menu">
                    <a class="c-dropdown__item dropdown-item" (click)="gotoDetails(item)">
                      <i class="fa fa-eye u-mr-xsmall"></i>View Product
                    </a>
                    <a class="c-dropdown__item dropdown-item" (click)="deleteProduct(item)" *ngIf="business.role == 1">
                      <i class="fa fa-trash u-mr-xsmall"></i> Delete
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!showContentProducts">
            <tr class="c-table__row" *ngFor="let item of fakeArr">
              <td class="c-table__cell">
                <app-skeleton-item height="50px" width="50px" rounded></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
              </td>
              <td class="c-table__cell u-text-right">
                <app-skeleton-item height="39px" width="103px" inline></app-skeleton-item>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
