<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider"><span class="u-text-bold"> Albums</span></h4>
  <div class="u-mr-auto"></div>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="createAlbums()" [disabled]="!showContentAlbums"
    *ngIf="business.role == 1">
    Create New Album
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()" [disabled]="!showContentAlbums">
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row" *ngIf="showContentAlbums && !showContentAlbumsErr">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngFor="let item of albumsArr">
      <div class="card mb-3 shadow-sm">
        <img class="card-img-top" [src]="item.media?.images[0]?.image400 | linkHttp"
          onError="this.src='../assets/img/thumb.jpg'" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{item.title}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"
                (click)="viewAlbumImages(item)">View</button>
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteAlbums(item)"
                *ngIf="business.role == 1">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="albumsArr && albumsArr.length >= perPage">
    <div class="col-lg-12 text-center">
      <button class="btn btn-secondary" (click)="viewMore()" *ngIf="!showLoading">View more</button>
      <button class="btn btn-secondary" *ngIf="showLoading"><span class="fa fa-spinner fa-pulse"></span>&nbsp;
        Loading...</button>
    </div>
  </div>
  <div class="card myCardNotif" *ngIf="showContentAlbumsErr">
    <div class="text-center padding">
      <img src="../../assets/img/error.png" />
      <p class="apperror">{{albumsContentErr.message}}</p>
    </div>
  </div>
  <div class="row text-center text-lg-left" *ngIf="!showContentAlbums">
    <div class="no-image col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngFor="let item of imagesLoadingArr">
      <div class="d-block mb-4 h-100">
        <div class="card mb-3 shadow-sm">
          <app-skeleton-item height="200px"></app-skeleton-item>
          <div class="card-body">
            <app-skeleton-item height="24px" width="67%"></app-skeleton-item>
            <app-skeleton-item height="40px" radius="8px"></app-skeleton-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
