<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider">
    <a routerLink="/media/videos" class="routerLink" *ngIf="action != 'connect'"><span class="u-text-bold">
        Videos</span></a>
    <a routerLink="/connected-business" class="routerLink" *ngIf="action == 'connect'"><span class="u-text-bold">
        Connected Business</span></a>
  </h4>
  <h5 class="c-toolbar__meta u-mr-auto">Video Detail</h5>
  <button class="btn btn-sm btn-outline-secondary u-mr-xsmall" (click)="location.back()">
    Back
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()">
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row" *ngIf="!showError">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="c-toolbar u-mb-small">
        <div class="c-dropdown dropdown u-ml-auto" dropdown>
          <button dropdownToggle class="c-btn c-btn--success has-dropdown" [disabled]="showLoading">Download</button>
          <div *dropdownMenu class="c-dropdown__menu dropdown-menu" role="menu" aria-labelledby="button-basic">
            <a class="c-dropdown__item dropdown-item" (click)="downloadVideo('converted')">HD Converted</a>
            <a class="c-dropdown__item dropdown-item" (click)="downloadVideo('original')">Original</a>
          </div>
        </div>
        <button class="c-btn c-btn--info u-ml-small" [disabled]="showLoading" *ngIf="action != 'connect' && business.role == 1" (click)="shareVideo()">Share</button>
        <button class="c-btn c-btn--warning u-ml-small" [disabled]="showLoading" *ngIf="action != 'connect' && business.role == 1"
          (click)="updateVideoDetail()">Edit</button>
        <button class="c-btn c-btn--secondary u-ml-small" (click)="refresh()">Refresh</button>
        <div class="c-dropdown dropdown u-ml-small" dropdown>
          <button dropdownToggle class="c-btn c-btn--secondary has-dropdown" [disabled]="showLoading" *ngIf="action != 'connect' && business.role == 1">Update</button>
          <div *dropdownMenu class="c-dropdown__menu dropdown-menu" role="menu" aria-labelledby="button-basic">
            <a class="c-dropdown__item dropdown-item" (click)="uploadMedia('thumb')">Video Thumbnail</a>
            <a class="c-dropdown__item dropdown-item" (click)="uploadMedia('file')">Video File</a>
          </div>
        </div>
        <button class="c-btn c-btn--danger u-ml-small" [disabled]="showLoading" *ngIf="action != 'connect' && business.role == 1" (click)="deleteVideo()">Delete</button>
      </div>
      <ul class="c-tabs__list" id="myTab" role="tablist">
        <li><a class="c-tabs__link" [ngClass]="{'active': isGeneral}" id="nav-general-tab" role="tab"
            aria-controls="nav-general" aria-selected="false" (click)="showTab('general')"> General</a></li>
        <li><a class="c-tabs__link" [ngClass]="{'active': isEmbededInfo}" id="nav-embed-tab" role="tab"
            aria-controls="nav-embed" aria-selected="false" (click)="showTab('embed')"> Embeded Image
            Information</a></li>
      </ul>
      <div class="c-tabs__content tab-content" id="nav-tabContent">
        <div class="c-tabs__pane u-pb-medium" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab"
          *ngIf="isGeneral">
          <div class="row">
            <div class="col-sm-7 col-lg-7 col-xl-7">
              <div class="c-project-card u-mb-medium">
                <div class="c-project-card__img">
                  <video #media class="video-js vjs-big-play-centered" id="singleVideo" controls preload="auto"
                    data-setup='{}' *ngIf="!showLoading">
                    <source [src]="item.streamHQMP4" type="video/mp4">
                    <source [src]="item.streamMP4" type="video/mp4">
                    <source [src]="item.streamWebm" type="video/webm">
                    <p class="vjs-no-js">
                      To view this video please enable JavaScript, and consider upgrading to a
                      web browser that
                      <a href="https://videojs.com/html5-video-support/" target="_blank">supports
                        HTML5 video</a>
                    </p>
                  </video>
                </div>
                <div class="c-project-card__content">
                  <div class="c-project-card__head">
                    <h4 class="c-project-card__title">{{item.caption}}</h4>
                    <p class="c-project-card__info" *ngIf="item.uploadedAt">Uploaded:
                      {{item.uploadedAt
                      | date: 'short'}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-lg-5 col-xl-5">
              <div class="c-project-card u-mb-medium">
                <div class="c-project-card__content">
                  <div class="c-project-card__head">
                    <h4 class="c-project-card__title">{{item.caption}}</h4>
                    <p class="c-project-card__info" *ngIf="item.uploadedAt">Uploaded:
                      {{item.uploadedAt
                      | date: 'short'}}</p>
                  </div>
                  <div class="c-project-card__meta" *ngIf="item.language">
                    <h4 class="c-project-card__title">Language</h4>
                    <p class="u-text-danger u-text-bold">{{item.language}}</p>
                  </div>
                  <div class="c-project-card__meta" *ngIf="item.privilege">
                    <h4 class="c-project-card__title">Privacy</h4>
                    <p class="u-text-danger u-text-bold">{{item.privilege | uppercase}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-tabs__pane" id="nav-embed" role="tabpanel" aria-labelledby="nav-embed-tab" *ngIf="isEmbededInfo">
          <div class="form-group">
            <label for="cropImage">Cropped Image</label>
            <div class="input-group">
              <input type="text" class="form-control" name="cropImage" [(ngModel)]="item.cropImage">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary"><i class="fa fa-copy"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="cropImage">Thumb Image</label>
            <div class="input-group">
              <input type="text" class="form-control" name="cropImage" [(ngModel)]="item.thumbImage">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary"><i class="fa fa-copy"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="cropImage">Preview Image</label>
            <div class="input-group">
              <input type="text" class="form-control" name="cropImage" [(ngModel)]="item.previewImage">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary"><i class="fa fa-copy"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="cropImage">Large Image</label>
            <div class="input-group">
              <input type="text" class="form-control" name="cropImage" [(ngModel)]="item.largeImage">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary"><i class="fa fa-copy"></i></button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="cropImage">xLarge Image</label>
            <div class="input-group">
              <input type="text" class="form-control" name="cropImage" [(ngModel)]="item.xlargeImage">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary"><i class="fa fa-copy"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center" *ngIf="showError">
    <div class="card myCardNotif" style="width: 100%">
      <div class="text-center padding">
        <img src="./assets/img/error.png" />
        <p class="apperror u-mt-medium">No video media found!</p>
      </div>
    </div>
  </div>
</div>
