.c-tabs__pane {
  display: block !important;
}

.videoPlayer {
  width: 100%;
}

.video-js {
  width: 100% !important;
  height: 100% !important;
}

.vjs-poster {
  /* width: 100vw; */
}

.video-js .vjs-tech {
  width: 100vw !important;
  object-fit: cover !important;
}

.video-js .vjs-control-bar {
  width: 100vw !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
