<div class="modal-header">
  <h4 class="modal-title pull-left">Add Product</h4>
</div>
<div class="modal-body">
  <form [formGroup]="entryForm">
    <div class="row">
      <div class="col-sm-12 col-md-12 u-mb-small">
        <div class="c-field">
          <label class="c-field__label" for="productname"><i class="fa fa-productname"></i> Product Name</label>
          <input class="c-input" [ngClass]="{'c-input--danger': submitted && f.title.errors}" id="productname"
            name="productname" type="text" formControlName="title" placeholder="Product Name">
          <small *ngIf="submitted && f.title.errors" class="c-field__message u-color-danger">
            <div *ngIf="f.title.errors.required">
              <i class="fa fa-exclamation-circle"></i> Product Name is required.
            </div>
          </small>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i
      class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Save</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()"
    [disabled]="isSaving">Close</button>
</div>
