<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
</div>
<div class="modal-body">
  <div class="c-toolbar">
    <div class="c-range c-range--inline u-mr-auto"></div>
    <div class="c-field has-icon-right c-navbar__search u-mr-small">
      <span class="c-field__icon"><i class="fa fa-search"></i></span>
      <label class="u-hidden-visually" for="navbar-search">Search</label>
      <input class="c-input" name="navbar-search" [(ngModel)]="txtSearch" (keydown)="onKeydown($event)" (input)="(txtSearch.length < 1)?refresh():0"
        type="text" placeholder="Search">
    </div>
  </div>
  <div *ngIf="showContentProducts">
    <!--
      ==========================================================================================
      ==========================================================================================
      ==========================================================================================
       -->
    <div class="row" *ngIf="!showContentProductsErr">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="c-table-responsive@tablet">
          <table class="c-table c-table--zebra u-mb-large" id="datatable2">
            <thead class="c-table__head">
              <tr class="c-table__row">
                <th class="c-table__cell c-table__cell--head"></th>
                <th class="c-table__cell c-table__cell--head">Image</th>
                <th class="c-table__cell c-table__cell--head">Product</th>
                <th class="c-table__cell c-table__cell--head"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="c-table__row" *ngFor="let item of productArr">
                <td class="c-table__cell text-center">
                  <input type="checkbox" class="form-check-input" name="exampleCheck1" [(ngModel)]="item.selected">
                  <label class="form-check-label">&nbsp;</label>
                </td>
                <td class="c-table__cell">
                  <div class="c-avatar c-avatar--small">
                    <img class="c-avatar__img" [src]="item.image?.thumbImage | linkHttp" (error)="errorAvatarHandler($event)">
                  </div>
                </td>
                <td class="c-table__cell">{{item.title}}</td>
                <td class="c-table__cell">
                  <span class="c-badge c-badge--info u-mr-xsmall" *ngIf="item.primary">Primary</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card myCardNotif" *ngIf="showContentProductsErr">
      <div class="text-center padding">
        <img src="../../assets/img/error.png" />
        <p class="apperror">{{productsContentErr.message}}</p>
      </div>
    </div>
    <!--
      ==========================================================================================
      ==========================================================================================
      ==========================================================================================
       -->
  </div>
  <div *ngIf="!showContentProducts">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="c-table-responsive@tablet">
          <table class="c-table c-table--zebra u-mb-large" id="datatable2">
            <thead class="c-table__head">
              <tr class="c-table__row">
                <th class="c-table__cell c-table__cell--head"></th>
                <th class="c-table__cell c-table__cell--head">Image</th>
                <th class="c-table__cell c-table__cell--head">Product</th>
                <th class="c-table__cell c-table__cell--head"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="c-table__row" *ngFor="let item of imagesLoadingArr">
                <td class="c-table__cell">
                  <app-skeleton-item height="10px" width="10px"></app-skeleton-item>
                </td>
                <td class="c-table__cell">
                  <app-skeleton-item height="50px" width="50px" rounded></app-skeleton-item>
                </td>
                <td class="c-table__cell">
                  <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                </td>
                <td class="c-table__cell">
                  <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--
      ==========================================================================================
      ==========================================================================================
      ==========================================================================================
       -->
  <div class="row">
    <div class="col-lg-12">
      <pagination class="pull-right" [boundaryLinks]="true" [maxSize]="5" [itemsPerPage]="perPage" [totalItems]="totalPageProduct"
        [(ngModel)]="pageProduct" pageBtnClass="c-pagination__item" (pageChanged)="viewMore($event)" previousText="<i class='fa fa-caret-left'></i> Previous"
        nextText="Next <i class='fa fa-caret-right'></i>"></pagination>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i class="fa fa-spinner fa-pulse"
      *ngIf="isSaving"></i> Save Changes</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="isSaving">Close</button>
</div>
