.c-tabs__pane {
  display: block !important;
}

.c-gallery-card__img {
  margin: 0 0 0.625rem;
  border-radius: 4px;
  width: 200px;
  height: 200px;
}

.dropzone {
  width: 100% !important;
  height: calc(100vh - 200px) !important;
  border: 2px dashed #aaa;
}

.dropzone>.dz-message {
  border: none !important;
}

.selected-image {
  background-color: white;
  border: 6px solid #108fcf;
}
