<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider"><span class="u-text-bold"> Print Materials</span></h4>
  <div class="u-mr-auto"></div>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="uploadMedia()" [disabled]="showLoading"
    *ngIf="showUpload && !showDragDropUpload && business.role == 1">
    <span class="icon ion-md-cloud-upload"></span>
    Upload
  </button>
  <button class="btn btn-sm btn-outline-danger mr-2" (click)="cancelUploadMedia()" [disabled]="showLoading"
    *ngIf="showDragDropUpload  && business.role == 1">
    <span class="icon ion-md-cloud-upload"></span>
    Cancel Upload
  </button>
  <button class="btn btn-sm btn-outline-secondary mr-2" (click)="refresh()" *ngIf="!showDragDropUpload">
    <span class="icon ion-md-refresh"></span>
    Refresh
  </button>
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle"
      aria-controls="dropdown-basic">
      <span class="icon ion-ios-funnel"></span>
      Filter Items by Type: {{printType}}<span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" [ngClass]="{'disabled': showLoading}"
          (click)="filterPrint('Guide')">Guide</a></li>
      <li role="menuitem"><a class="dropdown-item" [ngClass]="{'disabled': showLoading}"
          (click)="filterPrint('Infographic')">Infographic</a></li>
      <li role="menuitem"><a class="dropdown-item" [ngClass]="{'disabled': showLoading}"
          (click)="filterPrint('Itirenary')">Itirenary</a></li>
      <li role="menuitem"><a class="dropdown-item" [ngClass]="{'disabled': showLoading}"
          (click)="filterPrint('Map')">Map</a></li>
      <li role="menuitem"><a class="dropdown-item" [ngClass]="{'disabled': showLoading}"
          (click)="filterPrint('Promotional')">Promotional</a></li>
      <li role="menuitem"><a class="dropdown-item" [ngClass]="{'disabled': showLoading}" (click)="filterPrint('')">-
          Clear -</a></li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12" (drop)="drop($event)" (dragover)="allowDrop($event)">
      <ul class="c-tabs__list" id="myTab" role="tablist">
        <li><a class="c-tabs__link" [ngClass]="{'active': (printstatus === 'all')}" id="nav-general-tab" role="tab"
            aria-controls="nav-general" aria-selected="false" (click)="printSegmentChanged('all')"> All</a></li>
        <li><a class="c-tabs__link" [ngClass]="{'active': (printstatus === 'expired')}" id="nav-market-tab" role="tab"
            aria-controls="nav-market" aria-selected="false" (click)="printSegmentChanged('expired')"> Expired</a></li>
      </ul>
      <div class="c-tabs__content tab-content" id="nav-tabContent">
        <div class="c-tabs__pane u-pb-medium" id="nav-general" *ngIf="(printstatus === 'all')">
          <div *ngIf="showDragDropUpload" class="dropzone dropzone-container" [dropzone]="config"
            (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
          <!--
        =========================================================================================================
        =========================================================================================================
        =========================================================================================================
       -->
          <div class="c-gallery-card" *ngIf="!showDragDropUpload">
            <div *ngIf="showContentPrint">
              <div class="row" *ngIf="!showContentPrintErr">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" *ngFor="let item of printArr"
                  (click)="selectMedia(item,$event)" (dblclick)="viewDetail(item)">
                  <a class="d-block mb-4 h-100">
                    <div class="progressive-image img-fluid img-rounded" [ngClass]="{'selected-image': item.selected}">
                      <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
                        [attr.data-image]="item.image800 | linkHttp">
                      </div>
                      <div class="overlay"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row" *ngIf="printArr && printArr.length < 1">
                <div class="col-lg-12 col-md-12">
                  <div class="card myCardNotif">
                    <div class="text-center padding">
                      <img src="../../assets/img/error.png" />
                      <p class="apperror">No brochure found!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="printArr && printArr.length >= perPage">
                <div class="col-lg-12 text-center">
                  <button class="btn btn-secondary" (click)="viewMore()" *ngIf="!showLoading">View more</button>
                  <button class="btn btn-secondary" *ngIf="showLoading"><span
                      class="icon ion-md-sync ion-spin-animation"></span>&nbsp;
                    Loading...</button>
                </div>
              </div>
              <div class="row" *ngIf="showContentPrintErr">
                <div class="col-lg-12 col-md-12">
                  <div class="card myCardNotif">
                    <div class="text-center padding">
                      <img src="../../assets/img/error.png" />
                      <p class="apperror">{{printContentErr.message}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="!showContentPrint">
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 u-mb-xsmall" *ngFor="let item of imagesLoadingArr">
                <!-- <app-skeleton-item height="220px" width="220px"></app-skeleton-item> -->
                <app-skeleton-item height="200px"></app-skeleton-item>
              </div>
            </div>
          </div>
        </div>
        <div class="c-tabs__pane" id="nav-market" *ngIf="(printstatus === 'expired')">
          <div class="c-gallery-card">
            <div *ngIf="showContentPrint">
              <div class="row" *ngIf="!showContentPrintErr">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" *ngFor="let item of printExpiredArr"
                  (click)="selectMedia(item,$event)" (dblclick)="viewDetail(item)">
                  <a class="d-block mb-4 h-100">
                    <div class="progressive-image img-fluid img-rounded" [ngClass]="{'selected-image': item.selected}">
                      <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
                        [attr.data-image]="item.image800 | linkHttp">
                      </div>
                      <div class="overlay"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row" *ngIf="printExpiredArr && printExpiredArr.length < 1">
                <div class="col-lg-12 col-md-12">
                  <div class="card myCardNotif">
                    <div class="text-center padding">
                      <img src="../../assets/img/error.png" />
                      <p class="apperror">No brochure found!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="printExpiredArr && printExpiredArr.length >= perPage">
                <div class="col-lg-12 text-center">
                  <button class="btn btn-secondary" (click)="viewMore()" *ngIf="!showLoading">View more</button>
                  <button class="btn btn-secondary" *ngIf="showLoading"><span
                      class="icon ion-md-sync ion-spin-animation"></span>&nbsp;
                    Loading...</button>
                </div>
              </div>
              <div class="row" *ngIf="showContentPrintErr">
                <div class="col-lg-12 col-md-12">
                  <div class="card myCardNotif">
                    <div class="text-center padding">
                      <img src="../../assets/img/error.png" />
                      <p class="apperror">{{printContentErr.message}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="!showContentPrint">
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 u-mb-xsmall" *ngFor="let item of imagesLoadingArr">
                <!-- <app-skeleton-item height="220px" width="220px"></app-skeleton-item> -->
                <app-skeleton-item height="200px"></app-skeleton-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
