<div class="modal-header">
  <h4 class="modal-title pull-left">Location Entry</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 col-md-12 u-mb-small">
      <div class="c-field">
        <label class="c-field__label" for="name">Name</label>
        <input class="c-input" id="name" name="name" type="text" [(ngModel)]="item.name" placeholder="Location">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i
      class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i> Save</button>
  <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()"
    [disabled]="isSaving">Close</button>
</div>
