<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider">
    <a routerLink="/media/images" class="routerLink" *ngIf="action != 'connect'"><span class="u-text-bold">
        Images</span></a>
    <a routerLink="/connected-business" class="routerLink" *ngIf="action == 'connect'"><span class="u-text-bold">
        Connected Business</span></a>
  </h4>
  <h5 class="c-toolbar__meta u-mr-auto">Image Detail</h5>
  <button class="btn btn-sm btn-outline-secondary u-mr-xsmall" (click)="location.back()">
    Back
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()">
    <span class="fa fa-refresh u-mr-xsmall"></span>
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row" *ngIf="!showError">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="c-toolbar u-mb-small">
        <button class="c-btn c-btn--success u-ml-auto" [disabled]="showLoading"
          (click)="downloadImage()">Download</button>
        <button class="c-btn c-btn--info u-ml-small" [disabled]="showLoading" *ngIf="action != 'connect'"
          (click)="shareImage()">Share</button>
        <button class="c-btn c-btn--warning u-ml-small" [disabled]="showLoading" (click)="updateImage()"
          *ngIf="action != 'connect' && business.role == 1">Edit</button>
        <button class="c-btn c-btn--danger u-ml-small" [disabled]="showLoading" (click)="deleteImage()" *ngIf="action != 'connect' && business.role == 1">Delete</button>
        <div class="c-dropdown dropdown u-ml-small" dropdown>
          <button dropdownToggle class="c-btn c-btn--secondary has-dropdown" [disabled]="showLoading" *ngIf="action != 'connect' && business.role == 1">Set As</button>
          <div *dropdownMenu class="c-dropdown__menu dropdown-menu" role="menu" aria-labelledby="button-basic">
            <a class="c-dropdown__item dropdown-item" (click)="featureImage()">
              Business Feature</a>
            <a class="c-dropdown__item dropdown-item" (click)="addToProductFeature()">
              Product Feature</a>
          </div>
        </div>
        <div class="c-dropdown dropdown u-ml-small u-mr-medium" dropdown>
          <button dropdownToggle class="c-btn c-btn--secondary has-dropdown" [disabled]="showLoading" *ngIf="action != 'connect' && business.role == 1">Add To</button>
          <div *dropdownMenu class="c-dropdown__menu dropdown-menu" role="menu" aria-labelledby="button-basic">
            <a class="c-dropdown__item dropdown-item" (click)="addToProductImage()"><i
                class="fa fa-image u-mr-xsmall"></i>
              Product Gallery</a>
            <a class="c-dropdown__item dropdown-item" (click)="addToAlbumImage()"><i
                class="fa fa-folder u-mr-xsmall"></i>
              Album</a>
            <a class="c-dropdown__item dropdown-item" (click)="addImageToCollection()">
              <i class="fa fa-files-o u-mr-xsmall"></i>Collection List
            </a>
          </div>
        </div>
      </div>
      <ul class="c-tabs__list" id="myTab" role="tablist">
        <li><a class="c-tabs__link" [ngClass]="{'active': isGeneral}" id="nav-general-tab" role="tab"
            aria-controls="nav-general" aria-selected="false" (click)="showTab('general')"> General</a></li>
        <li><a class="c-tabs__link" [ngClass]="{'active': isMarket}" id="nav-market-tab" role="tab"
            aria-controls="nav-market" aria-selected="false" (click)="showTab('market')"> Image Target
            Market</a></li>
        <li><a class="c-tabs__link" [ngClass]="{'active': isEmbededInfo}" id="nav-embed-tab" role="tab"
            aria-controls="nav-embed" aria-selected="false" (click)="showTab('embed')"> Embeded Image
            Information</a></li>
      </ul>
      <div class="c-tabs__content tab-content" id="nav-tabContent">
        <div class="c-tabs__pane u-pb-medium" id="nav-general" *ngIf="isGeneral">
          <div class="row">
            <div class="col-sm-12 col-lg-5 col-xl-5 col-md-5">
              <div class="c-project-card u-mb-medium">
                <div class="c-project-card__img">
                  <div class="progressive-image img-fluid img-thumbnail" [hidden]="showLoading">
                    <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image200 | linkHttp) + ')'}"
                      [attr.data-image]="item.xlargeImage | linkHttp">
                    </div>
                    <div class="overlay"></div>
                  </div>
                  <app-skeleton-item height="500px" width="100%" *ngIf="showLoading"></app-skeleton-item>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-7 col-xl-7 col-md-7">
              <div class="c-project-card u-mb-medium" *ngIf="!showLoading">
                <div class="c-project-card__content">
                  <div class="c-project-card__head">
                    <h4 class="c-project-card__title">{{item.caption}}</h4>
                    <p class="c-project-card__info" *ngIf="item.uploadedAt">Uploaded:{{item.uploadedAt | date:
                      'short'}}</p>
                  </div>
                  <div class="c-project-card__meta" *ngIf="item.location">
                    <h4 class="c-project-card__title">Location</h4>
                    <p class="u-text-danger u-text-bold">{{item.location}}</p>
                  </div>
                  <div class="c-project-card__meta" *ngIf="item.imageSize">
                    <h4 class="c-project-card__title">Size</h4>
                    <p class="u-text-danger u-text-bold">{{item.imageSize | fileSize}}</p>
                  </div>
                  <div class="c-project-card__meta" *ngIf="item.orientation">
                    <h4 class="c-project-card__title">Orientation</h4>
                    <p class="u-text-danger u-text-bold">{{item.orientation | uppercase}}</p>
                  </div>
                  <div class="c-project-card__meta" *ngIf="item.keywords">
                    <h4 class="c-project-card__title">Keywords</h4>
                    <p class="u-text-danger u-text-bold">{{item.keywords}}</p>
                  </div>
                  <div class="c-project-card__meta" *ngIf="item.imageWidth">
                    <h4 class="c-project-card__title">Width</h4>
                    <p class="u-text-danger u-text-bold">{{item.imageWidth}}</p>
                  </div>
                  <div class="c-project-card__meta" *ngIf="item.imageHeight">
                    <h4 class="c-project-card__title">Height</h4>
                    <p class="u-text-danger u-text-bold">{{item.imageHeight}}</p>
                  </div>
                  <div class="c-project-card__meta" *ngIf="item.privilege">
                    <h4 class="c-project-card__title">Privacy</h4>
                    <p class="u-text-danger u-text-bold">{{item.privilege | uppercase}}</p>
                  </div>
                </div>
              </div>
              <div class="c-project-card u-mb-medium" *ngIf="showLoading">
                <div class="c-project-card__content">
                  <div class="c-project-card__head">
                    <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                    <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                  </div>
                  <div class="c-project-card__head">
                    <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                    <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                  </div>
                  <div class="c-project-card__head">
                    <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                    <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                  </div>
                  <div class="c-project-card__head">
                    <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                    <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                  </div>
                  <div class="c-project-card__head">
                    <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                    <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                  </div>
                  <div class="c-project-card__head">
                    <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                    <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-tabs__pane" id="nav-market" *ngIf="isMarket">
          <div class="row">
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Australia
                    <label class="switch ">
                      <input type="checkbox" name="australia" class="primary" [(ngModel)]="item.markets.australia"
                        [disabled]="disabledMarket">
                      <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item">
                    France
                    <label class="switch ">
                      <input type="checkbox" name="france" class="primary" [(ngModel)]="item.markets.france"
                        [disabled]="disabledMarket">
                      <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item">
                    Germany
                    <label class="switch ">
                      <input type="checkbox" name="germany" class="primary" [(ngModel)]="item.markets.germany"
                        [disabled]="disabledMarket">
                      <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item">
                    Greater China
                    <label class="switch ">
                      <input type="checkbox" name="greaterChina" class="primary" [(ngModel)]="item.markets.greaterChina"
                        [disabled]="disabledMarket">
                      <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item">
                    India
                    <label class="switch ">
                      <input type="checkbox" name="india" class="primary" [(ngModel)]="item.markets.india"
                        [disabled]="disabledMarket">
                      <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item">
                    Japan
                    <label class="switch ">
                      <input type="checkbox" name="japan" class="primary" [(ngModel)]="item.markets.japan"
                        [disabled]="disabledMarket">
                      <span class="slider round"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Korea
                    <label class="switch ">
                      <input type="checkbox" name="korea" class="primary" [(ngModel)]="item.markets.korea"
                        [disabled]="disabledMarket">
                      <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item">
                    New Zealand
                    <label class="switch ">
                      <input type="checkbox" name="newZealand" class="primary" [(ngModel)]="item.markets.newZealand"
                        [disabled]="disabledMarket">
                      <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item">
                    North America
                    <label class="switch ">
                      <input type="checkbox" name="northAmerica" class="primary" [(ngModel)]="item.markets.northAmerica"
                        [disabled]="disabledMarket">
                      <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item">
                    Singapore
                    <label class="switch ">
                      <input type="checkbox" name="singapore" class="primary" [(ngModel)]="item.markets.singapore"
                        [disabled]="disabledMarket">
                      <span class="slider round"></span>
                    </label>
                  </li>
                  <li class="list-group-item">
                    United Kingdom
                    <label class="switch ">
                      <input type="checkbox" name="unitedKingdom" class="primary"
                        [(ngModel)]="item.markets.unitedKingdom" [disabled]="disabledMarket">
                      <span class="slider round"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="c-tabs__pane" id="nav-embed" *ngIf="isEmbededInfo">
          <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
            <div class="form-group">
              <label for="cropImage">Cropped Image</label>
              <div class="input-group">
                <input type="text" class="form-control" name="cropImage" #cropImage [(ngModel)]="item.cropImage">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (cbOnSuccess)="copied($event)" [ngxClipboard]="cropImage"><i
                      class="fa fa-copy"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="thumbImage">Thumb Image</label>
              <div class="input-group">
                <input type="text" class="form-control" name="thumbImage" #thumbImage [(ngModel)]="item.thumbImage">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (cbOnSuccess)="copied($event)"
                    [ngxClipboard]="thumbImage"><i class="fa fa-copy"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="previewImage">Preview Image</label>
              <div class="input-group">
                <input type="text" class="form-control" name="previewImage" #previewImage
                  [(ngModel)]="item.previewImage">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (cbOnSuccess)="copied($event)"
                    [ngxClipboard]="previewImage"><i class="fa fa-copy"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="largeImage">Large Image</label>
              <div class="input-group">
                <input type="text" class="form-control" name="largeImage" #largeImage [(ngModel)]="item.largeImage">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" [ngxClipboard]="largeImage"
                    (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="xlargeImage">xLarge Image</label>
              <div class="input-group">
                <input type="text" class="form-control" name="xlargeImage" #xlargeImage [(ngModel)]="item.xlargeImage">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" [ngxClipboard]="xlargeImage"
                    (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center" *ngIf="showError">
    <div class="card myCardNotif" style="width: 100%">
      <div class="text-center padding">
        <img src="./assets/img/error.png" />
        <p class="apperror u-mt-medium">No image media found!</p>
      </div>
    </div>
  </div>
</div>
