<div class="modal-header">
  <h4 class="modal-title pull-left">Select Media</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()" [disabled]="isUploading">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="!showLoading">
    <div *ngIf="action == 'image'">
      <div class="row text-center text-lg-left" *ngIf="!showContentImageErr">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" *ngFor="let item of imagesArr" (click)="selectMedia(item)">
          <a class="d-block mb-4 h-100">
            <div class="progressive-image img-fluid img-thumbnail" [ngClass]="{'selected-image': item.selected}">
              <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}" [attr.data-image]="item.largeImage | linkHttp">
              </div>
              <div class="overlay"></div>
      		  <span class="icon ion-md-checkmark ion-icon text-primary" *ngIf="item.selected"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="row" *ngIf="imagesArr && imagesArr.length >= perPage">
        <div class="col-lg-12 text-center">
          <button class="btn btn-sm btn-secondary" [disabled]="isUploading" (click)="viewMore()" *ngIf="!showLoading">View more</button>
          <button class="btn btn-sm btn-secondary" [disabled]="isUploading" *ngIf="showLoading"><span class="icon ion-md-sync ion-spin-animation"></span>&nbsp; Loading...</button>
        </div>
      </div>
      <div class="card myCardNotif" *ngIf="showContentImageErr">
        <div class="text-center padding">
          <img src="../../assets/img/error.png" />
          <p class="apperror">{{imageContentErr.message}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="action == 'logo'">
      <div class="row text-center text-lg-left" *ngIf="!showContentLogoErr">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" *ngFor="let item of logosArr" (click)="selectMedia(item)">
          <a class="d-block mb-4 h-100">
            <div class="progressive-image img-fluid img-thumbnail" [ngClass]="{'selected-image': item.selected}">
              <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}" [attr.data-image]="item.largeImage | linkHttp">
              </div>
              <div class="overlay"></div>
              <span class="icon ion-md-checkmark ion-icon text-primary" *ngIf="item.selected"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="row" *ngIf="logosArr && logosArr.length >= perPage">
        <div class="col-lg-12 text-center">
          <button class="btn btn-secondary" [disabled]="isUploading" (click)="viewMore()" *ngIf="!showLoading">View more</button>
          <button class="btn btn-secondary" [disabled]="isUploading" *ngIf="showLoading"><span class="icon ion-md-sync ion-spin-animation"></span>&nbsp; Loading...</button>
        </div>
      </div>
      <div class="card myCardNotif" *ngIf="showContentLogoErr">
        <div class="text-center padding">
          <img src="../../assets/img/error.png" />
          <p class="apperror">{{logoContentErr.message}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="action == 'print'">
      <div class="row text-center text-lg-left" *ngIf="!showContentPrintErr">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" *ngFor="let item of printArr" (click)="selectMedia(item)">
          <a class="d-block mb-4 h-100">
            <div class="progressive-image img-fluid img-thumbnail" [ngClass]="{'selected-image': item.selected}">
              <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image200 | linkHttp) + ')'}" [attr.data-image]="item.image800 | linkHttp">
              </div>
              <div class="overlay"></div>
              <span class="icon ion-md-checkmark ion-icon text-primary" *ngIf="item.selected"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="row" *ngIf="printArr && printArr.length >= perPage">
        <div class="col-lg-12 text-center">
          <button class="btn btn-secondary" [disabled]="isUploading" (click)="viewMore()" *ngIf="!showLoading">View more</button>
          <button class="btn btn-secondary" [disabled]="isUploading" *ngIf="showLoading"><span class="icon ion-md-sync ion-spin-animation"></span>&nbsp; Loading...</button>
        </div>
      </div>
      <div class="card myCardNotif" *ngIf="showContentPrintErr">
        <div class="text-center padding">
          <img src="../../assets/img/error.png" />
          <p class="apperror">{{printContentErr.message}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="action == 'video'">
      <div class="row text-center text-lg-left" *ngIf="!showContentVideosErr">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" *ngFor="let item of videosArr" (click)="selectMedia(item)">
          <a class="d-block mb-4 h-100">
            <div class="progressive-image img-fluid img-thumbnail" [ngClass]="{'selected-image': item.selected}">
              <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image200 | linkHttp) + ')'}" [attr.data-image]="item.previewImage | linkHttp">
              </div>
              <div class="overlay"></div>
              <span class="icon ion-md-checkmark ion-icon text-primary" *ngIf="item.selected"></span>
            </div>
          </a>
        </div>
      </div>
      <div class="row" *ngIf="videosArr && videosArr.length >= perPage">
        <div class="col-lg-12 text-center">
          <button class="btn btn-secondary" [disabled]="isUploading" (click)="viewMore()" *ngIf="!showLoading">View more</button>
          <button class="btn btn-secondary" [disabled]="isUploading" *ngIf="showLoading"><span class="icon ion-md-sync ion-spin-animation"></span>&nbsp; Loading...</button>
        </div>
      </div>
      <div class="card myCardNotif" *ngIf="showContentVideosErr">
        <div class="text-center padding">
          <img src="../../assets/img/error.png" />
          <p class="apperror">{{previewImage.message}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="action == 'albums'">
      <div class="row" *ngIf="albumsArr && albumsArr.length >= perPage">
        <div class="col-lg-12 text-center">
          <button class="btn btn-secondary" [disabled]="isUploading" (click)="viewMore()" *ngIf="!showLoading">View more</button>
          <button class="btn btn-secondary" [disabled]="isUploading" *ngIf="showLoading"><span class="icon ion-md-sync ion-spin-animation"></span>&nbsp; Loading...</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showLoading">
    <div class="row text-center text-lg-left">
      <div class="no-image col-lg-3 col-md-3 col-sm-3 col-xs-4" *ngFor="let item of imagesLoadingArr">
        <div class="d-block mb-4 h-100">
          <app-skeleton-item height="167px"></app-skeleton-item>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()" [disabled]="isUploading">Close</button>
  <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isUploading">Save changes</button>
</div>
