/* Center align the text within the three columns below the carousel */
.home-padding {
  /* padding-top: 3rem; */
  padding-bottom: 3rem;
}

.home-padding .col-lg-3 {
  margin-bottom: 1.5rem;
  text-align: center !important;
}

.home-padding .col-lg-3 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.home-padding h4 {
  font-weight: 400;
}


.selected-image {
	background-color: #fff;
	border: 6px solid #E6E6E6;
}

.selected-account{
  background-color: #108fcf;
  border-radius: 4px;
  color: #fff;
}

.product-thumb{
	width: 72px;
  height: 72px;
}
