<header class="c-navbar u-mb-medium">
  <img class="c-sidebar__brand-img" src="./assets/img/logo_red.png" alt="Logo">
  <h2 class="c-navbar__title u-mr-auto">Narnoo Admin Dashboard App</h2>
  <div class="c-field has-icon-right c-navbar__search u-hidden-down@tablet u-ml-auto u-mr-small">
    <span class="c-field__icon">
      <i class="fa fa-search"></i>
    </span>
    <label class="u-hidden-visually" for="navbar-search">Search</label>
    <input class="c-input" id="navbar-search" name="navbar-search" [(ngModel)]="txtSearch"
      (change)="(txtSearch.length < 1)?refresh():0" (keydown)="onKeydown($event)" type="text" placeholder="Search">
  </div>
  <div class="c-dropdown">
    <a class="c-notification" (click)="logOutApp()">
      <span class="c-notification__icon">
        <i class="fa fa-sign-out"></i>
      </span>
      Logout
    </a>
  </div>
</header>
<div class="container-fluid">
  <div class="c-toolbar u-mb-medium">
    <div class="c-range c-range--inline u-mr-auto"></div>
    <button class="c-btn c-btn--secondary u-ml-small" (click)="refresh()">
      <i class="fa fa-refresh u-mr-xsmall u-opacity-medium"></i>Refresh
    </button>
  </div>
  <!--
        ================================
        SEARCH BUSINESS AND BUSINESS LISTING ON TABLE
        ================================
    -->
  <div class="c-table-responsive@tablet">
    <table class="c-table c-table--zebra u-mb-large" id="datatable2">
      <thead class="c-table__head">
        <tr class="c-table__row">
          <th class="c-table__cell c-table__cell--head">Image</th>
          <th class="c-table__cell c-table__cell--head">Business / Name</th>
          <th class="c-table__cell c-table__cell--head">Type</th>
          <th class="c-table__cell c-table__cell--head">
            <span class="u-hidden-visually">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="showContent">
        <tr class="c-table__row" *ngFor="let item of businessArr">
          <td class="c-table__cell">
            <div class="c-avatar c-avatar--small">
              <img class="c-avatar__img" [src]="item.avatar?.thumbImage | linkHttp"
                (error)="errorAvatarHandler($event)">
            </div>
          </td>
          <td class="c-table__cell">{{item.business}}</td>
          <td class="c-table__cell">
            {{item.businessType}} <small class="u-text-success">({{item.businessRole}})</small>
          </td>
          <td class="c-table__cell u-text-right">
            <button dropdownToggle class="c-btn c-btn--info" (click)="openDashboard(item)"><i
                class="fa fa-external-link"></i>
              View</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="showSearch">
        <tr class="c-table__row" *ngFor="let item of searchArr">
          <td class="c-table__cell">
            <div class="c-avatar c-avatar--small">
              <img class="c-avatar__img" [src]="item.avatar?.thumbImage | linkHttp"
                (error)="errorAvatarHandler($event)">
            </div>
          </td>
          <td class="c-table__cell">{{item.name}}</td>
          <td class="c-table__cell">
            {{item.businessType}}
          </td>
          <td class="c-table__cell u-text-right">
            <button dropdownToggle class="c-btn c-btn--info" (click)="openDashboard(item)"><i
                class="fa fa-external-link"></i>
              View</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!showContent && !showSearch">
        <tr class="c-table__row" *ngFor="let item of fakeArr">
          <td class="c-table__cell">
            <app-skeleton-item height="50px" width="50px" rounded></app-skeleton-item>
          </td>
          <td class="c-table__cell">
            <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
          </td>
          <td class="c-table__cell">
            <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
          </td>
          <td class="c-table__cell u-text-right">
            <app-skeleton-item height="39px" width="103px" inline></app-skeleton-item>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="myCardNotif" *ngIf="searchArr.length < 1 && showSearch">
      <div class="text-center padding">
        <h5 class="apperror">There are no result base on this search!</h5>
      </div>
    </div>
  </div>
  <!--
        ================================
        ADD LOADING SKELETON HERE
        ================================
    -->
  <div *ngIf="isGrid">
    <div class="row" *ngIf="!showContent && !showSearch">
      <div class="col-sm-12 col-lg-3 col-md-4" *ngFor="let item of fakeArr">
        <div class="c-card u-p-medium u-text-center u-mb-medium">
          <div class="c-avatar c-avatar--super u-mb-small u-inline-flex">
            <app-skeleton-item width="140px" height="140px" rounded></app-skeleton-item>
          </div>
          <div class="u-mb-small">
            <app-skeleton-item height="24px"></app-skeleton-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination class="pull-right" [boundaryLinks]="true" [maxSize]="5" [itemsPerPage]="20" [totalItems]="totalCount"
    [(ngModel)]="currentPage" pageBtnClass="c-pagination__item" (pageChanged)="pageChanged($event)"
    previousText="<i class='fa fa-caret-left'></i> Previous" nextText="Next <i class='fa fa-caret-right'></i>"
    [hidden]="businessArr.length < 1" *ngIf="!showSearch"></pagination>
</div>
