<div class="container home-padding">
  <div *ngIf="showContent">
    <div class="card" *ngFor="let rows of feedsArr">
      <ul class="list-group">
        <li class="list-group-item">
          <img class="img-circle media-object pull-left" [src]="rows.avatar?.thumbImage | linkHttp" onError="this.src='../../assets/img/user.png'" width="32" height="32">
          <div class="media-body">
            <strong>{{rows.businessName}}</strong>
            <p><small>{{rows.timestamp | timesago}}</small></p>
          </div>
        </li>
      </ul>
      <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
      <div class="card-body" *ngIf="rows.itemType != 'following' && rows.itemType != 'joined'">
        <p class="card-text">{{rows.statement}}</p>
      </div>
      <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
      <ul class="list-group" *ngIf="rows.itemType == 'following' || rows.itemType == 'joined'">
        <li class="list-group-item">
          <img class="img-circle media-object pull-left" [src]="rows.media?.thumbImage | linkHttp" onError="this.src='../../assets/img/user.png'" width="32" height="32">
          <div class="media-body">
            <p>{{rows.statement}}</p>
          </div>
        </li>
      </ul>
      <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
      <div class="card-body">
        <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
        <div *ngIf="rows.itemType == 'images'">
          <div class="row text-center text-lg-left">
            <div class="col-lg-4 col-md-3 col-sm-3 col-xs-6" *ngFor="let row of rows.media | slice: 0:4; let $index= index;">
              <div class="progressive-image d-block mb-4 h-100">
                <div class="img-thumbnail loadingImage" [ngStyle]="{'background': 'url(' + (row.image400 | linkHttp )+ ')'}" [attr.data-image]="row.xxlargeImage | linkHttp"></div>
                <div class="overlay"></div>
                <p *ngIf="$index == 3" (click)="viewImageDetail(rows)">+{{rows.moreCount}}</p>
              </div>
            </div>
          </div>
        </div>
        <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
        <div class="progressive-image" *ngIf="rows.itemType == 'image'">
          <div class="loadingImage" [ngStyle]="{'background': 'url(' + (rows.media.image400 | linkHttp )+ ')'}" [attr.data-image]="rows.media.xxlargeImage | linkHttp"></div>
          <div class="overlay"></div>
        </div>
        <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
        <div class="progressive-image" *ngIf="rows.itemType == 'logo'">
          <div class="loadingImage" [ngStyle]="{'background': 'url(' + (rows.media.image400 | linkHttp )+ ')'}" [attr.data-image]="rows.media.largeImage | linkHttp"></div>
          <div class="overlay"></div>
        </div>
        <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
        <div class="progressive-image" *ngIf="rows.itemType == 'brochure'">
          <div class="loadingImage" [ngStyle]="{'background': 'url(' + (rows.media.thumb_image_path | linkHttp) + ')'}" [attr.data-image]="rows.media.preview_image_path | linkHttp"></div>
          <div class="overlay"></div>
        </div>
        <!--
        ================================================================================
        ================================================================================
        ================================================================================
         -->
        <div *ngIf="rows.itemType == 'video'">
          <div class="text-center center">
            <video #media class="video-js vjs-big-play-centered" id="singleVideo{{rows.objectId}}" controls playsinline looped preload="auto" data-setup='{}' [poster]="rows.media.image800 | linkHttp">
              <source [src]="rows.media.streamMP4 | linkHttp" type="video/mp4">
              <source [src]="rows.media.streamWebm | linkHttp" type="video/webm">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!showContent">
    <div class="timeline-wrapper" *ngFor="let item of fakeArr">
      <div class="timeline-item">
        <div class="animated-background facebook">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-first-end"></div>
          <div class="background-masker content-second-line"></div>
          <div class="background-masker content-second-end"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
        </div>
      </div>
    </div>
  </div>
</div>
