<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title">
    <a routerLink="/connected-business" class="routerLink"><span class="u-text-bold">
        Connected Business</span></a></h4>
  <div class="u-mr-auto"></div>
  <button class="btn btn-sm btn-outline-secondary u-mr-xsmall" (click)="back()">
    Back
  </button>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 u-hidden-down@wide">
      <aside class="c-menu u-ml-medium">
        <h4 class="c-menu__title">Media</h4>
        <ul class="u-mb-medium">
          <li class="c-menu__item">
            <a class="c-menu__link" [ngClass]="{'is-active': type=='image'}" (click)="openMedia('image')">
              <i class="fa fa-file-image-o u-mr-xsmall"></i>Images
            </a>
          </li>
          <li class="c-menu__item">
            <a class="c-menu__link" [ngClass]="{'is-active': type=='logos'}" (click)="openMedia('logos')">
              <i class="c-menu__icon fa fa-file-code-o"></i>Logos
            </a>
          </li>
          <li class="c-menu__item">
            <a class="c-menu__link" [ngClass]="{'is-active': type=='prints'}" (click)="openMedia('prints')">
              <i class="c-menu__icon fa fa-file-pdf-o"></i>Prints
            </a>
          </li>
          <li class="c-menu__item">
            <a class="c-menu__link" [ngClass]="{'is-active': type=='videos'}" (click)="openMedia('videos')">
              <i class="c-menu__icon fa fa-file-movie-o"></i>Videos
            </a>
          </li>
          <li class="c-menu__item">
            <a class="c-menu__link" [ngClass]="{'is-active': type=='albums'}" (click)="openMedia('albums')">
              <i class="c-menu__icon fa fa-folder-o"></i>Albums
            </a>
          </li>
          <li class="c-menu__item" *ngIf="connect_params.type == 'distributor'">
            <a class="c-menu__link" [ngClass]="{'is-active': type=='collections'}" (click)="openMedia('collections')">
              <i class="c-menu__icon fa fa-files-o"></i>Collections
            </a>
          </li>
          <li class="c-menu__item" *ngIf="connect_params.type == 'distributor'">
            <a class="c-menu__link" [ngClass]="{'is-active': type=='channels'}" (click)="openMedia('channels')">
              <i class="c-menu__icon fa fa-video-camera"></i>Channel
            </a>
          </li>
        </ul>
        <h4 class="c-menu__title">Others</h4>
        <ul class="u-mb-medium">
          <li class="c-menu__item" *ngIf="connect_params.type == 'operator'">
            <a class="c-menu__link" [ngClass]="{'is-active': type=='products'}" (click)="openMedia('products')">
              <i class="fa fa-shopping-cart u-mr-xsmall"></i>Products
            </a>
          </li>
          <li class="c-menu__item" *ngIf="business.type === 1 && connect_params.type == 'operator'">
            <a class="c-menu__link" [ngClass]="{'is-active': type=='bio'}" (click)="openMedia('bio')">
              <i class="fa fa-building-o u-mr-xsmall"></i>Company Bio
            </a>
          </li>
        </ul>
      </aside>
    </div>

    <div class="col-md-8 col-xl-7">
      <main>
        <app-connected-media-images *ngIf="type=='image'"></app-connected-media-images>
        <app-connected-media-logos *ngIf="type=='logos'"></app-connected-media-logos>
        <app-connected-media-prints *ngIf="type=='prints'"></app-connected-media-prints>
        <app-connected-media-videos *ngIf="type=='videos'"></app-connected-media-videos>
        <app-connected-media-albums *ngIf="type=='albums'"></app-connected-media-albums>
        <app-connected-media-collections *ngIf="type=='collections'"></app-connected-media-collections>
        <app-connected-media-channels *ngIf="type=='channels'"></app-connected-media-channels>
        <app-connected-media-products *ngIf="type=='products'"></app-connected-media-products>
        <app-connected-media-company-bio *ngIf="type=='bio'"></app-connected-media-company-bio>
      </main>
    </div>

    <div class="col-md-5 col-xl-3 u-mb-medium u-hidden-down@tablet">
      <div class="c-profile-card">
        <div class="c-profile-card__cover">
          <img [src]="connect_user.avatar?.largeImage | linkHttp" (error)="errorAvatarHandler($event)" alt="image">
        </div>

        <div class="c-profile-card__user">
          <div class="c-profile-card__avatar">
            <img [src]="connect_user.avatar?.image200 | linkHttp" (error)="errorAvatarHandler($event)" alt="image">
          </div>

          <h4 class="c-profile-card__name">{{connect_user.details?.business || connect_user.name}}
            <small>({{connect_user.details?.id}})</small>
            <a class="c-profile-card__username">{{connect_user.details?.contact}} |
              {{connect_user.details?.type | uppercase}}</a>
          </h4>
        </div>
        <ul class="c-profile-card__meta">
          <li class="c-profile-card__meta-item">
            <i class="fa fa-envelope"></i>{{connect_user.details?.email}}
          </li>

          <li class="c-profile-card__meta-item">
            <i class="fa fa-globe"></i>{{connect_user.details?.url}}
          </li>

          <li class="c-profile-card__meta-item">
            <i class="fa fa-phone"></i>{{connect_user.details?.phone}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
