.c-profile-card__avatar>img {
  height: 100%;
}

.c-menu__link:hover {
  color: #0056b3;
}

.c-menu__link.is-active {
  background-color: #2ea1f8;
  color: #fff !important;
}

.c-menu__link.is-active .c-menu__icon {
  color: #fff !important;
}
