<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider"><span class="u-text-bold"> Company Bio</span></h4>
  <div class="u-mr-auto"></div>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()">
    <span class="icon ion-md-refresh"></span>
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <ul class="c-tabs__list" id="myTab" role="tablist">
        <li><a class="c-tabs__link" [ngClass]="{'active': isSummary}" id="nav-general-tab" role="tab" aria-controls="nav-general"
            aria-selected="false" (click)="isDescription = false; isSummary = true;"> Summary</a></li>
        <li><a class="c-tabs__link" [ngClass]="{'active': isDescription}" id="nav-market-tab" role="tab" aria-controls="nav-market"
            aria-selected="false" (click)="isDescription = true; isSummary = false;">
            Description</a></li>
      </ul>
      <div class="c-tabs__content tab-content" id="nav-tabContent">
        <div *ngIf="showContent">
          <div class="c-tabs__pane u-pb-medium" id="nav-general" *ngIf="isSummary">
            <div class="u-p-small" *ngIf="!showContentErr">
              <tabset>
                <tab [heading]="item.heading_title | uppercase" *ngFor="let item of summaryArr">
                  <div class="u-p-small u-text-wrap">
                    <span [innerHtml]="item.text"></span>
                  </div>
                  <div class="u-mt-small">
                    <button class="c-btn c-btn--info" (click)="updateBio(item,'summary')" *ngIf="business.role == 1">Update</button>
                  </div>
                </tab>
              </tabset>
            </div>
            <div *ngIf="showContentErr">
              <div class="card myCardNotif u-mb-medium" *ngIf="contentErr.message !== 'No biography results'">
                <div class="text-center padding">
                  <img src="../assets/img/error.png" />
                  <p class="apperror u-pt-medium">{{contentErr.message}}</p>
                </div>
              </div>
              <div class="u-p-small" *ngIf="contentErr.message == 'No biography results'">
                <tabset>
                  <tab [heading]="item.heading_title | uppercase" *ngFor="let item of summaryArr">
                    <div class="u-p-small u-text-wrap">
                      <span [innerHtml]="item.text"></span>
                    </div>
                    <div class="u-mt-small">
                      <button class="c-btn c-btn--info" (click)="updateBio(item,'summary')" *ngIf="business.role == 1">Update</button>
                    </div>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
          <div class="c-tabs__pane u-pb-medium" id="nav-general" *ngIf="isDescription">
            <div class="u-p-small" *ngIf="!showContentErr">
              <tabset>
                <tab [heading]="item.heading_title | uppercase" *ngFor="let item of descriptionArr">
                  <div class="u-p-small u-text-wrap">
                    <span [innerHtml]="item.text"></span>
                  </div>
                  <div class="u-mt-small">
                    <button class="c-btn c-btn--info" (click)="updateBio(item,'description')" *ngIf="business.role == 1">Update</button>
                  </div>
                </tab>
              </tabset>
            </div>
            <div *ngIf="showContentErr">
              <div class="card myCardNotif u-mb-medium" *ngIf="contentErr.message !== 'No biography results'">
                <div class="text-center padding">
                  <img src="../assets/img/error.png" />
                  <p class="apperror u-pt-medium">{{contentErr.message}}</p>
                </div>
              </div>
              <div class="u-p-small" *ngIf="contentErr.message == 'No biography results'">
                <tabset>
                  <tab [heading]="item.heading_title | uppercase" *ngFor="let item of descriptionArr">
                    <div class="u-p-small u-text-wrap">
                      <span [innerHtml]="item.text"></span>
                    </div>
                    <div class="u-mt-small">
                      <button class="c-btn c-btn--info" (click)="updateBio(item,'description')" *ngIf="business.role == 1">Update</button>
                    </div>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!showContent">
          <div class="c-tabs__pane u-pb-medium" id="nav-general">
            <div class="c-stage__panel c-stage__panel--mute">
              <div class="u-p-small">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                <app-skeleton-item height="18px" width="67%"></app-skeleton-item>
                <app-skeleton-item height="18px" width="67%"></app-skeleton-item>
                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                <app-skeleton-item class="u-mt-small" height="24px" width="87%"></app-skeleton-item>
                <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                <app-skeleton-item class="u-mt-medium" height="39px" width="103px" inline></app-skeleton-item>
              </div>
              <div class="u-p-small">
                <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                <app-skeleton-item height="18px" width="67%"></app-skeleton-item>
                <app-skeleton-item height="18px" width="67%"></app-skeleton-item>
                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                <app-skeleton-item class="u-mt-small" height="24px" width="87%"></app-skeleton-item>
                <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                <app-skeleton-item height="12px" width="67%"></app-skeleton-item>
                <app-skeleton-item class="u-mt-medium" height="39px" width="103px" inline></app-skeleton-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
