<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider"><span class="u-text-bold"> Social Media Links</span></h4>
  <div class="u-mr-auto"></div>
  <button class="btn btn-sm btn-outline-primary mr-2" [disabled]="showLoading" (click)="editSocialLinks()" *ngIf="business.role == 1">
    Update
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="initData()">
    <span class="icon ion-md-refresh"></span>
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <article class="c-stage" id="stages">
        <div class="c-stage__panel c-stage__panel--mute show open" id="stage-panel1">
          <div class="u-p-medium" *ngIf="!showContentErr">
            <div class="row" *ngIf="!showLoading">
              <div class="col-sm-12 col-md-6 u-mb-small">
                <div class="c-field">
                  <label class="c-field__label" for="tripadvisor"><i class="fa fa-tripadvisor"></i>
                    Trip Advisor</label>
                  <div class="c-field has-addon-right">
                    <input class="c-input" id="tripadvisor" name="tripadvisor" type="text" readonly [(ngModel)]="link.tripadvisor"
                      #tripadvisor placeholder="Trip Advisor">
                    <span class="c-field__addon" [ngxClipboard]="tripadvisor" (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <div class="c-field">
                  <label class="c-field__label" for="facebook"><i class="fa fa-facebook"></i>
                    Facebook</label>
                  <div class="c-field has-addon-right">
                    <input class="c-input" id="facebook" name="facebook" type="text" readonly [(ngModel)]="link.facebook"
                      #facebook placeholder="Facebook">
                    <span class="c-field__addon" [ngxClipboard]="facebook" (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <div class="c-field">
                  <label class="c-field__label" for="twitter"><i class="fa fa-twitter"></i> Twitter</label>
                  <div class="c-field has-addon-right">
                    <input class="c-input" id="twitter" name="twitter" type="text" readonly [(ngModel)]="link.twitter"
                      #twitter placeholder="Twitter">
                    <span class="c-field__addon" [ngxClipboard]="twitter" (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <div class="c-field">
                  <label class="c-field__label" for="instagram"><i class="fa fa-instagram"></i>
                    Instagram</label>
                  <div class="c-field has-addon-right">
                    <input class="c-input" id="instagram" name="instagram" type="text" readonly [(ngModel)]="link.instagram"
                      #instagram placeholder="Instagram">
                    <span class="c-field__addon" [ngxClipboard]="instagram" (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <div class="c-field">
                  <label class="c-field__label" for="youtube"><i class="fa fa-youtube"></i> Youtube</label>
                  <div class="c-field has-addon-right">
                    <input class="c-input" id="youtube" name="youtube" type="text" readonly [(ngModel)]="link.youtube"
                      #youtube placeholder="Youtube">
                    <span class="c-field__addon" [ngxClipboard]="youtube" (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <div class="c-field">
                  <label class="c-field__label" for="vimeo"><i class="fa fa-vimeo"></i> Vimeo</label>
                  <div class="c-field has-addon-right">
                    <input class="c-input" id="vimeo" name="vimeo" type="text" readonly [(ngModel)]="link.vimeo" #vimeo
                      placeholder="Vimeo">
                    <span class="c-field__addon" [ngxClipboard]="vimeo" (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <div class="c-field">
                  <label class="c-field__label" for="pinterest"><i class="fa fa-pinterest"></i>
                    Pinterest</label>
                  <div class="c-field has-addon-right">
                    <input class="c-input" id="pinterest" name="pinterest" type="text" readonly [(ngModel)]="link.pinterest"
                      #pinterest placeholder="Pinterest">
                    <span class="c-field__addon" [ngxClipboard]="pinterest" (cbOnSuccess)="copied($event)"><i class="fa fa-copy"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="showLoading">
              <div class="col-sm-12 col-md-6 u-mb-small">
                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
              </div>
              <div class="col-sm-12 col-md-6 u-mb-small">
                <app-skeleton-item height="12px" width="47%"></app-skeleton-item>
                <app-skeleton-item radius="4px" height="42px"></app-skeleton-item>
              </div>
            </div>
          </div>
          <div class="card myCardNotif u-mb-medium" *ngIf="showContentErr">
            <div class="text-center padding">
              <img src="./assets/imgs/error.png" />
              <p class="apperror u-pt-medium">{{contentErr.message}}</p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
