.selected-image {
  background-color: white;
  opacity: .4;
  border: 4px solid #108fcf;
}

.ion-icon {
  font-size: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.modal-body {
  height: 600px;
  overflow-y: auto;
}
