<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider">
    <a routerLink="/media/albums" class="routerLink" *ngIf="action != 'connect'"><span class="u-text-bold">
        Albums</span></a>
    <a routerLink="/connected-business" class="routerLink" *ngIf="action == 'connect'"><span class="u-text-bold">
        Connected Business</span></a>
  </h4>
  <h5 class="c-toolbar__meta u-mr-auto">Album Images</h5>
  <button class="btn btn-sm btn-outline-secondary mr-2" (click)="back()">
    Back
  </button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="uploadFile()" *ngIf="action != 'connect' && business.role == 1">
    Upload
  </button>
  <button class="btn btn-sm btn-outline-primary mr-2" *ngIf="action != 'connect'">
    Share
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()">
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="c-gallery-card" *ngIf="showContent">
    <div class="row" *ngIf="!showContentImageErr">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" *ngFor="let item of imagesArr" (click)="selectMedia(item,$event)"
        (dblclick)="viewImageDetail(item)">
        <a class="d-block mb-4 h-100">
          <div class="progressive-image img-fluid img-rounded" [ngClass]="{'selected-image': item.selected}">
            <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
              [attr.data-image]="item.largeImage | linkHttp">
            </div>
            <div class="overlay"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="row" *ngIf="imagesArr && imagesArr.length >= perPage">
      <div class="col-lg-12 text-center">
        <button class="btn btn-secondary" (click)="viewMore()" *ngIf="!showLoading">View more</button>
        <button class="btn btn-secondary" *ngIf="showLoading"><span
            class="icon ion-md-sync ion-spin-animation"></span>&nbsp;
          Loading...</button>
      </div>
    </div>
    <div class="card myCardNotif" *ngIf="showContentImageErr">
      <div class="text-center padding">
        <img src="../../assets/img/error.png" />
        <p class="apperror">{{imageContentErr.message}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!showContent">
    <div class="row text-center text-lg-left">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 u-mb-xsmall" *ngFor="let item of imagesLoadingArr">
        <!-- <app-skeleton-item height="220px" width="220px"></app-skeleton-item> -->
        <app-skeleton-item height="200px"></app-skeleton-item>
      </div>
    </div>
  </div>
</div>
