<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider">
    <a routerLink="/products" class="routerLink" *ngIf="action != 'connect'"><span class="u-text-bold">
        Products</span></a>
    <a routerLink="/connected-business" class="routerLink" *ngIf="action == 'connect'"><span class="u-text-bold">
        Connected Business</span></a>
  </h4>
  <h5 class="c-toolbar__meta u-mr-auto"><span [innerHTML]="product.title"></span></h5>
  <button class="btn btn-outline-secondary" (click)="back()">
    Back
  </button>
  <button class="c-btn c-btn--danger u-ml-small" [disabled]="showContent"
    *ngIf="action != 'connect' && business.role == 1" (click)="deleteProduct()">
    <i class="fa fa-trash u-mr-xsmall u-opacity-medium"></i>Delete Product
  </button>
  <button class="c-btn c-btn--secondary u-ml-small" *ngIf="action != 'connect' && business.role == 1"
    (click)="refresh()">
    <i class="fa fa-refresh u-mr-xsmall u-opacity-medium"></i>Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8">
      <ul class="c-tabs__list" id="myTab" role="tablist">
        <li><a class="c-tabs__link" [ngClass]="{'active': isInfo}" (click)="showTab('info')"><i
              class="fa fa-info-circle"></i>
            Information</a></li>
        <li><a class="c-tabs__link" [ngClass]="{'active': isDetails}" (click)="showTab('details')"><i
              class="fa fa-file-o"></i>
            Details</a></li>
        <li><a class="c-tabs__link" [ngClass]="{'active': isGallery}" (click)="showTab('gallery')"><i
              class="fa fa-image"></i>
            Gallery</a></li>
      </ul>
      <div class="c-tabs__content tab-content u-mb-large">
        <div class="c-tabs__pane u-pb-medium" *ngIf="isInfo">
          <app-product-details-information>
          </app-product-details-information>
        </div>
        <div class="c-tabs__pane u-pb-medium" *ngIf="isDetails">
          <app-product-details-detail>
          </app-product-details-detail>
        </div>
        <div class="c-tabs__pane u-pb-medium" *ngIf="isGallery">
          <app-product-details-gallery>
          </app-product-details-gallery>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
          <article class="c-event">
            <div class="c-event__img">
              <img [src]="product.featureImage?.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'">
              <span class="c-event__status">Featured Image</span>
            </div>
            <div class="c-event__meta">
              <!-- <h3 class="c-event__title">Featured Image</h3> -->
              <button class="c-btn c-btn--info" *ngIf="action != 'connect' && business.role == 1"
                (click)="setProductFeature('image')"><i class="fa fa-edit"></i>
                Update</button>
            </div>
          </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
          <article class="c-event">
            <div class="c-event__img">
              <img [src]="product.featureVideo?.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'">
              <span class="c-event__status">Featured Video</span>
            </div>
            <div class="c-event__meta">
              <!-- <h3 class="c-event__title">Featured Video</h3> -->
              <button class="c-btn c-btn--info" *ngIf="action != 'connect' && business.role == 1"
                (click)="setProductFeature('video')"><i class="fa fa-edit"></i>
                Update</button>
            </div>
          </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
          <article class="c-event">
            <div class="c-event__img">
              <img [src]="product.featurePrint?.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'">
              <span class="c-event__status">Featured Print</span>
            </div>
            <div class="c-event__meta">
              <!-- <h3 class="c-event__title">Featured Print</h3> -->
              <button class="c-btn c-btn--info" *ngIf="action != 'connect' && business.role == 1"
                (click)="setProductFeature('print')"><i class="fa fa-edit"></i>
                Update</button>
            </div>
          </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
          <article class="c-event">
            <div class="c-event__img">
              <img [src]="product.featureLogo?.image400 | linkHttp" onError="this.src='./assets/img/thumb.jpg'">
              <span class="c-event__status">Featured Logo</span>
            </div>
            <div class="c-event__meta">
              <!-- <h3 class="c-event__title">Featured Logo</h3> -->
              <button class="c-btn c-btn--info" *ngIf="action != 'connect' && business.role == 1"
                (click)="setProductFeature('logo')"><i class="fa fa-edit"></i>
                Update</button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
