<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider">
    <a routerLink="/media/collections" class="routerLink" *ngIf="action != 'connect'"><span class="u-text-bold">
        Collections</span></a>
    <a routerLink="/connected-business" class="routerLink" *ngIf="action == 'connect'"><span class="u-text-bold">
        Connected Business</span></a>
  </h4>
  <h5 class="c-toolbar__meta u-mr-auto">Collection Details</h5>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="editCollection()" [disabled]="!showImageContent"
    *ngIf="business.role == 1">
    Update
  </button>
  <button class="btn btn-sm btn-outline-danger mr-2" (click)="deleteCollection()" [disabled]="!showImageContent"
    *ngIf="business.role == 1">
    Delete
  </button>
  <button class="btn btn-sm btn-outline-primary mr-2" [disabled]="!showImageContent">
    Share
  </button>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()">
    Refresh
  </button>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="card" style="width: 100%;">
        <div class="card-body" *ngIf="showImageContent">
          <h6 class="card-subtitle mb-2 text-muted">Description</h6>
          <p class="card-text">{{collection.description}}</p>
          <h6 class="card-subtitle mb-2 text-muted">Privacy</h6>
          <p class="card-text">{{collection.privacy | uppercase}}</p>
          <a class="card-link">{{collection.totalImages}} Images</a>
          <a class="card-link">{{collection.totalPrints}} Prints</a>
          <a class="card-link">{{collection.totalVideos}} Videos</a>
        </div>
        <div class="card-body" *ngIf="!showImageContent">
          <app-skeleton-item height="24px"></app-skeleton-item>
          <app-skeleton-item height="24px" width="67%" style="margin-bottom: 12px"></app-skeleton-item>
          <app-skeleton-item height="14px"></app-skeleton-item>
          <app-skeleton-item height="14px"></app-skeleton-item>
          <app-skeleton-item width="67%"></app-skeleton-item>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-8">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2" btnRadioGroup [(ngModel)]="selectedSegment" ngDefaultControl
            *ngIf="showImageContent">
            <label class="btn btn-outline-secondary" btnRadio="image" tabindex="0" role="button"
              (click)="onSegmentChanged()">
              Image
            </label>
            <label class="btn btn-outline-secondary" btnRadio="print" tabindex="0" role="button"
              (click)="onSegmentChanged()">
              Print
            </label>
            <label class="btn btn-outline-secondary" btnRadio="video" tabindex="0" role="button"
              (click)="onSegmentChanged()">
              Videos
            </label>
          </div>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button class="btn btn-sm btn-outline-primary mr-2" *ngIf="selectedSegment == 'image' && business.role == 1"
            (click)="addMediaFile('image')" [disabled]="!showImageContent">
            <span class="icon ion-md-cloud-upload"></span>
            Add Image
          </button>
          <button class="btn btn-sm btn-outline-primary mr-2" *ngIf="selectedSegment == 'print' && business.role == 1"
            (click)="addMediaFile('print')" [disabled]="!showImageContent">
            <span class="icon ion-md-cloud-upload"></span>
            Add Print
          </button>
          <button class="btn btn-sm btn-outline-primary mr-2" *ngIf="selectedSegment == 'video' && business.role == 1"
            (click)="addMediaFile('video')" [disabled]="!showImageContent">
            <span class="icon ion-md-cloud-upload"></span>
            Add Video
          </button>
        </div>
      </div>
      <div *ngIf="showImageContent">
        <div class="row text-center text-lg-left" *ngIf="selectedSegment == 'image'">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" *ngFor="let item of collection.images"
            (click)="viewImageDetail(item)">
            <a class="d-block mb-4 h-100">
              <div class="progressive-image img-fluid img-thumbnail">
                <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
                  [attr.data-image]="item.image800 | linkHttp">
                </div>
                <div class="overlay"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="row text-center text-lg-left" *ngIf="selectedSegment == 'print'">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" *ngFor="let item of collection.prints"
            (click)="viewPrintDetail(item)">
            <a class="d-block mb-4 h-100">
              <div class="progressive-image img-fluid img-thumbnail">
                <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
                  [attr.data-image]="item.image800 | linkHttp">
                </div>
                <div class="overlay"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="row text-center text-lg-left" *ngIf="selectedSegment == 'video'">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" *ngFor="let item of collection.videos"
            (click)="viewVideoDetail(item)">
            <a class="d-block mb-4 h-100">
              <div class="progressive-image img-fluid img-thumbnail">
                <div class="loadingImage" [ngStyle]="{'background': 'url(' + (item.image400 | linkHttp) + ')'}"
                  [attr.data-image]="item.image800 | linkHttp">
                </div>
                <div class="overlay"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="!showImageContent">
        <div class="row text-center text-lg-left">
          <div class="no-image col-lg-2 col-md-2 col-sm-3 col-xs-4" *ngFor="let item of imagesLoadingArr">
            <div class="d-block mb-4 h-100">
              <app-skeleton-item height="150px"></app-skeleton-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
