<div class="modal-header">
  <h4 class="modal-title pull-left">Album Entry</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()" [disabled]="showLoading">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form class="needs-validation" (ngSubmit)="saveEntry()">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="title">Album Name</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="album.title" placeholder="Album Name"
              required>
            <div class="invalid-feedback">
              Album name is required.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary" type="submit" [disabled]="showLoading"><i class="fa fa-spinner fa-pulse" *ngIf="isSaving"></i>
          SAVE</button>
      </form>
    </div>
  </div>
</div>
