<div class="modal-header">
  <h4 class="modal-title pull-left">Add to Album</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()" [disabled]="showContent">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row" *ngIf="showContent && !showContentErr">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngFor="let item of albumsArr" (click)="checkChanged(item)">
      <div class="card mb-3 shadow-sm" [ngClass]="{'selected-image': item.checked}">
        <img class="card-img-top" [src]="item.media?.images[0]?.image400 | linkHttp" onError="this.src='../assets/img/thumb.jpg'"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{item.title}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card myCardNotif" *ngIf="showContentErr">
    <div class="text-center padding">
      <img src="../../assets/img/error.png" />
      <p class="apperror">{{albumsContentErr.message}}</p>
    </div>
  </div>
  <div class="row text-center text-lg-left" *ngIf="!showContent">
    <div class="no-image col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngFor="let item of fakeArr">
      <div class="d-block mb-4 h-100">
        <div class="card mb-3 shadow-sm">
          <app-skeleton-item height="170px"></app-skeleton-item>
          <div class="card-body">
            <app-skeleton-item height="14px" width="67%"></app-skeleton-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i class="fa fa-spinner fa-pulse"
        *ngIf="isSaving"></i> Save Changes</button>
    <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="isSaving">Close</button>
  </div>
