/* You can add global styles to this file, and also import other style files */
@import '~dropzone/dist/min/dropzone.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,
html {
  font-family: 'Open Sans', 'sans-serif' !important;
  background: transparent;
  height: 100%;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}


.apperror {
  color: #6f6f6f;
}

.bg-apperror {
  background-color: #6f6f6f;
  color: #fff;
}

.myCardNotif {
  margin: 0 auto;
  max-width: 400px;
  font-size: 1.4rem;
  background: #fff;
  display: block;
  overflow: hidden;
  padding-top: 5em;
}

.myCardNotif img {
  width: 6em;
}

.progressive-image {
  position: relative;
  overflow: hidden;
}

.progressive-image div {
  width: 100%;
  height: 100%;
  padding-top: 100%;
  background-size: cover !important;
  background-position: center bottom !important;
}

.progressive-image .loadingImage {
  filter: blur(5px);
}

.progressive-image .overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 200ms ease-in;
}


/*
* Titlebar
*/
.titlebar {
  line-height: 18px !important;
  padding-top: 7px;
  position: absolute;
  float: center !important;
  left: 45%;
}

.project {
  margin-top: -5px;
  font-size: 10px;
  line-height: 20px;
}

/*
 * Sidebar
 */

.sidebar {
  border-right: 1px solid #d9d9d9;
  border-radius: 0px 0px 4px 4px;
  z-index: 20;
}




/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input.default:checked+.slider {
  background-color: #444;
}

.switch input.primary:checked+.slider {
  background-color: #2196F3;
}

.switch input.success:checked+.slider {
  background-color: #8bc34a;
}

.switch input.info:checked+.slider {
  background-color: #3de0f5;
}

.switch input.warning:checked+.slider {
  background-color: #FFC107;
}

.switch input.danger:checked+.slider {
  background-color: #f44336;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
