<div class="modal-header">
  <h4 class="modal-title pull-left">Followers - Following</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xl-12">
      <ul class="c-tabs__list" id="myTab" role="tablist">
        <li><a class="c-tabs__link" [ngClass]="{'active': isFollowers}" id="nav-images-tab" role="tab"
            aria-controls="nav-images" (click)="showTab('followers')"> Followers</a></li>

        <li><a class="c-tabs__link" [ngClass]="{'active': isFollowing}" id="nav-logo-tab" role="tab"
            aria-controls="nav-logo" (click)="showTab('following')"> Following</a></li>
      </ul>

      <div class="c-tabs__content tab-content u-mb-large" id="nav-tabContent">
        <div class="u-pb-medium" id="nav-images" role="tabpanel" *ngIf="isFollowers">
          <div class="c-table-responsive@tablet">
            <table class="c-table c-table--zebra u-mb-large" id="datatable2">
              <thead class="c-table__head">
                <tr class="c-table__row">
                  <th class="c-table__cell c-table__cell--head">Image</th>
                  <th class="c-table__cell c-table__cell--head">Business / Name</th>
                  <th class="c-table__cell c-table__cell--head">Type</th>
                  <th class="c-table__cell c-table__cell--head" *ngIf="business.role == 1">
                    <span class="u-hidden-visually">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="showContent">
                <tr class="c-table__row" *ngFor="let item of usersArr">
                  <td class="c-table__cell">
                    <div class="c-avatar c-avatar--small">
                      <img class="c-avatar__img" [src]="item.avatar?.thumbImage | linkHttp"
                        (error)="errorAvatarHandler($event)">
                    </div>
                  </td>
                  <td class="c-table__cell">
                    {{item.details?.business}}
                    <small>{{item.details.type | uppercase}}</small>
                  </td>
                  <td class="c-table__cell">
                    {{item.details.contact}}
                  </td>
                  <td class="c-table__cell u-text-right" *ngIf="business.role == 1">
                    <div class="c-dropdown dropdown u-ml-small" dropdown>
                      <button aria-expanded="false" aria-haspopup="true" dropdownToggle *ngIf="isOptionsVisible()"
                        class="c-btn c-btn--secondary has-dropdown">Actions</button>
                      <div aria-labelledby="dropdownMenuButton10" *dropdownMenu class="c-dropdown__menu dropdown-menu">
                        <a class="c-dropdown__item dropdown-item" *ngIf="!item.details?.connected && business.type != 1"
                          (click)="followBusiness(item)">
                          Connect
                        </a>
                        <a class="c-dropdown__item dropdown-item" *ngIf="item.details?.connected"
                          (click)="unfollowBusiness(item)">
                          Unfollow
                        </a>
                        <a class="c-dropdown__item dropdown-item"
                          *ngIf="item.details?.type == 'distributor' && mode=='following' && business.type == 1"
                          (click)="editConnection(item)">
                          Edit
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!showContent">
                <tr class="c-table__row" *ngFor="let item of fakeArr">
                  <td class="c-table__cell">
                    <app-skeleton-item height="50px" width="50px" rounded></app-skeleton-item>
                  </td>
                  <td class="c-table__cell">
                    <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                  </td>
                  <td class="c-table__cell">
                    <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                  </td>
                  <td class="c-table__cell u-text-right">
                    <app-skeleton-item height="39px" width="103px" inline></app-skeleton-item>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="u-pb-medium" id="nav-logo" role="tabpanel" *ngIf="isFollowing">
          <div class="c-table-responsive@tablet">
            <table class="c-table c-table--zebra u-mb-large" id="datatable2">
              <thead class="c-table__head">
                <tr class="c-table__row">
                  <th class="c-table__cell c-table__cell--head">Image</th>
                  <th class="c-table__cell c-table__cell--head">Business / Name</th>
                  <th class="c-table__cell c-table__cell--head">Type</th>
                  <th class="c-table__cell c-table__cell--head" *ngIf="business.role == 1">
                    <span class="u-hidden-visually">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="showContent">
                <tr class="c-table__row" *ngFor="let item of userFollowing">
                  <td class="c-table__cell">
                    <div class="c-avatar c-avatar--small">
                      <img class="c-avatar__img" [src]="item.avatar?.thumbImage | linkHttp"
                        (error)="errorAvatarHandler($event)">
                    </div>
                  </td>
                  <td class="c-table__cell">
                    {{item.details?.business}}
                    <small>{{item.details.type | uppercase}}</small>
                  </td>
                  <td class="c-table__cell">
                    {{item.details.contact}}
                  </td>
                  <td class="c-table__cell u-text-right" *ngIf="business.role == 1">
                    <div class="c-dropdown dropdown u-ml-small" dropdown>
                      <button aria-expanded="false" aria-haspopup="true" dropdownToggle *ngIf="isOptionsVisible()"
                        class="c-btn c-btn--secondary has-dropdown">Actions</button>
                      <div aria-labelledby="dropdownMenuButton10" *dropdownMenu class="c-dropdown__menu dropdown-menu">
                        <a class="c-dropdown__item dropdown-item" (click)="unfollowBusiness(item)">
                          Unfollow
                        </a>
                        <a class="c-dropdown__item dropdown-item"
                          *ngIf="item.details?.type == 'distributor' && business.type == 1"
                          (click)="editConnection(item)">
                          Edit
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!showContent">
                <tr class="c-table__row" *ngFor="let item of fakeArr">
                  <td class="c-table__cell">
                    <app-skeleton-item height="50px" width="50px" rounded></app-skeleton-item>
                  </td>
                  <td class="c-table__cell">
                    <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                  </td>
                  <td class="c-table__cell">
                    <app-skeleton-item height="24px" width="87%"></app-skeleton-item>
                  </td>
                  <td class="c-table__cell u-text-right">
                    <app-skeleton-item height="39px" width="103px" inline></app-skeleton-item>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-secondary" (click)="bsModalRef.hide()">Close</button>
</div>
