<div class="c-toolbar u-mb-medium">
  <h4 class="c-toolbar__title has-divider"><span class="u-text-bold"> Connected Business</span></h4>
  <div class="u-mr-auto"></div>
  <button class="btn btn-sm btn-outline-secondary" (click)="refresh()">
    Refresh
  </button>
</div>
<div class="container-fluid">
  <ul class="c-tabs__list" id="myTab" role="tablist">
    <li><a class="c-tabs__link" [ngClass]="{'active': isFollowing}" id="nav-embed-tab" role="tab"
        aria-controls="nav-embed" aria-selected="false" (click)="showTab('following')"> Following</a></li>
    <li><a class="c-tabs__link" [ngClass]="{'active': isFollower}" id="nav-market-tab" role="tab"
        aria-controls="nav-market" aria-selected="false" (click)="showTab('follower')"> Follower</a></li>
    <li><a class="c-tabs__link" [ngClass]="{'active': isFind}" id="nav-general-tab" role="tab"
        aria-controls="nav-general" aria-selected="false" (click)="showTab('find')"> Find</a></li>
  </ul>
  <div class="c-tabs__content tab-content" id="nav-tabContent">
    <div class="c-tabs__pane u-pb-medium" id="nav-general" *ngIf="isFollowing">
      <div class="row u-m-small" *ngIf="showFollowingContent">
        <div class="col-sm-6 col-md-4" *ngFor="let user of followingArr">
          <div class="c-candidate">
            <div class="c-candidate__cover">
              <img [src]="user.avatar?.largeImage | linkHttp" (error)="errorAvatarHandler($event)" alt="image">
            </div>
            <div class="c-candidate__info">
              <div class="c-candidate__avatar">
                <img [src]="user.avatar?.image200 | linkHttp" (error)="errorAvatarHandler($event)" alt="image">
              </div>
              <div class="c-candidate__meta">
                <h3 class="c-candidate__title">{{user.details?.business || user.name}}
                  <small class="c-candidate__country">
                    {{user.details?.email}} | {{user.details?.phone}}
                  </small>
                </h3>
              </div>
            </div>
            <div class="c-candidate__footer">
              <div class="c-dropdown dropdown u-ml-small" dropdown container="body">
                <button dropdownToggle class="c-btn c-btn--secondary has-dropdown">Actions</button>
                <div aria-labelledby="dropdownMenuButton10" *dropdownMenu class="c-dropdown__menu dropdown-menu">
                  <a class="c-dropdown__item dropdown-item" (click)="viewDetails(user)">View</a>
                  <a class="c-dropdown__item dropdown-item" *ngIf="!user.connected"
                    (click)="connectUser(user,'follow')">Follow</a>
                  <a class="c-dropdown__item dropdown-item" *ngIf="user.connected"
                    (click)="connectUser(user,'unfollow')">Unfollow</a>
                  <a class="c-dropdown__item dropdown-item" *ngIf="business.paid"
                    (click)="viewPlatformSettings(user)">Assigned
                    Platform</a>
                  <!-- <a class="c-dropdown__item dropdown-item" *ngIf="business.paid"
                    (click)="viewOperatorSettings(user)">Send
                    Notification</a> -->
                </div>
              </div>
              <div class="c-candidate__status u-color-success">
                <i class="fa fa-user-circle-o"></i> {{user.details?.contact}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row u-m-small" *ngIf="!showFollowingContent">
        <div class="col-sm-6 col-md-4 u-mb-small" *ngFor="let user of fakeArr">
          <app-skeleton-item height="315px"></app-skeleton-item>
        </div>
      </div>
    </div>
    <div class="c-tabs__pane u-pb-medium" id="nav-general" *ngIf="isFollower">
      <div class="row u-m-small" *ngIf="showFollowerContent">
        <div class="col-sm-6 col-md-4" *ngFor="let user of followerArr">
          <div class="c-candidate">
            <div class="c-candidate__cover">
              <img [src]="user.avatar?.largeImage | linkHttp" (error)="errorAvatarHandler($event)" alt="image">
            </div>
            <div class="c-candidate__info">
              <div class="c-candidate__avatar">
                <img [src]="user.avatar?.image200 | linkHttp" (error)="errorAvatarHandler($event)" alt="image">
              </div>
              <div class="c-candidate__meta">
                <h3 class="c-candidate__title">{{user.details?.business || user.name}}
                  <small class="c-candidate__country">
                    {{user.details?.email}} | {{user.details?.phone}}
                  </small>
                </h3>
              </div>
            </div>
            <div class="c-candidate__footer">
              <div class="c-dropdown dropdown u-ml-small" dropdown container="body">
                <button dropdownToggle class="c-btn c-btn--secondary has-dropdown">Actions</button>
                <div aria-labelledby="dropdownMenuButton10" *dropdownMenu class="c-dropdown__menu dropdown-menu">
                  <a class="c-dropdown__item dropdown-item" (click)="viewDetails(user)">View</a>
                  <a class="c-dropdown__item dropdown-item" (click)="viewConnectionSettings(user)">Edit Connection</a>
                  <!-- <a class="c-dropdown__item dropdown-item">Send Notification</a> -->
                </div>
              </div>
              <div class="c-candidate__status u-color-success">
                <i class="fa fa-user-circle-o"></i> {{user.details?.contact}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row u-m-small" *ngIf="!showFollowerContent">
        <div class="col-sm-6 col-md-4 u-mb-small" *ngFor="let user of fakeArr">
          <app-skeleton-item height="315px"></app-skeleton-item>
        </div>
      </div>
    </div>
    <div class="c-tabs__pane u-pb-medium" id="nav-general" *ngIf="isFind">
      <div class="c-toolbar">
        <div class="c-range c-range--inline u-mr-auto"></div>
        <div class="c-field has-icon-right c-navbar__search u-mr-small">
          <span class="c-field__icon"><i class="fa fa-search"></i></span>
          <label class="u-hidden-visually" for="navbar-search">Search</label>
          <input class="c-input" name="navbar-search" [(ngModel)]="txtSearch" (keydown)="onKeydown($event)"
            (input)="(txtSearch.length < 1)?refresh():0" type="text" placeholder="Search">
        </div>
        <button class="c-btn c-btn--secondary u-ml-xsmall" (click)="refresh()">
          <i class="fa fa-refresh u-mr-xsmall color-j3"></i>Refresh
        </button>
      </div>
      <div class="row u-m-small" *ngIf="showContent">
        <div class="col-sm-6 col-md-4" *ngFor="let user of usersArr">
          <div class="c-candidate">
            <div class="c-candidate__cover">
              <img [src]="user.avatar?.largeImage | linkHttp" (error)="errorAvatarHandler($event)" alt="image">
            </div>
            <div class="c-candidate__info">
              <div class="c-candidate__avatar">
                <img [src]="user.avatar?.image200 | linkHttp" (error)="errorAvatarHandler($event)" alt="image">
              </div>
              <div class="c-candidate__meta">
                <h3 class="c-candidate__title">{{user.details?.business || user.name}}
                  <small class="c-candidate__country">
                    {{user.details?.email}} | {{user.details?.phone}}
                  </small>
                </h3>
              </div>
            </div>
            <div class="c-candidate__footer">
              <div class="c-dropdown dropdown u-ml-small" dropdown container="body">
                <button dropdownToggle class="c-btn c-btn--secondary has-dropdown">Actions</button>
                <div aria-labelledby="dropdownMenuButton10" *dropdownMenu class="c-dropdown__menu dropdown-menu">
                  <a class="c-dropdown__item dropdown-item" *ngIf="!user.connected"
                    (click)="connectUser(user,'follow')">Follow</a>
                  <a class="c-dropdown__item dropdown-item" *ngIf="user.connected"
                    (click)="connectUser(user,'unfollow')">Unfollow</a>
                </div>
              </div>
              <div class="c-candidate__status u-color-success">
                <i class="fa fa-user-circle-o"></i> {{user.details?.contact}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row u-m-small" *ngIf="!showContent">
        <div class="col-sm-6 col-md-4 u-mb-small" *ngFor="let user of fakeArr">
          <app-skeleton-item height="315px"></app-skeleton-item>
        </div>
      </div>
    </div>
  </div>
</div>
