<div class="modal-header">
  <h4 class="modal-title pull-left">Update Business Profile</h4>
</div>
<div class="modal-body">
  <form [formGroup]="entryForm">
    <div class="u-p-small">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Business Name</label>
            <input type="text" class="form-control" [ngClass]="{'c-input--danger': submitted && f.name.errors}"
              id="name" name="name" formControlName="name" placeholder="Business Name" required>
            <small *ngIf="submitted && f.name.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.name.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Name is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="businessType">Business Type</label>
            <select class="form-control" [ngClass]="{'c-input--danger': submitted && f.type.errors}" id="businessType"
              name="businessType" formControlName="type" (change)="onBusinessType($event.target.value)">
              <option value="operator">Operator</option>
              <option value="distributor">Distributor</option>
            </select>
            <small *ngIf="submitted && f.type.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.type.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Type is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group" *ngIf="isShowOperator">
            <label for="operatorCat">Operator Category</label>
            <select class="form-control" [ngClass]="{'c-input--danger': submitted && f.category.errors}"
              id="operatorCat" name="operatorCat" formControlName="category"
              (change)="selectCategory($event.target.value,'opt')">
              <option [value]=item.id *ngFor="let item of operatorCat; let $index = index;">{{item.title}}
              </option>
            </select>
            <small *ngIf="submitted && f.category.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.category.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Category is required.
              </div>
            </small>
          </div>
          <div class="form-group" *ngIf="isShowDistributor">
            <label for="businessType">Distributor Category</label>
            <select class="form-control" [ngClass]="{'c-input--danger': submitted && f.category.errors}"
              id="distributorCat" name="distributorCat" formControlName="category"
              (change)="selectCategory($event.target.value,'dist')">
              <option [value]="item" *ngFor="let item of distributorCat; let $index = index;">
                {{item.name}}
              </option>
            </select>
            <small *ngIf="submitted && f.category.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.category.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Category is required.
              </div>
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <h4 class="u-mb-small u-mt-medium">Business Details</h4>
        <div class="col-lg-12 col-md-12 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="showSubcats">
          <div class="form-group">
            <label for="subCategory">Business Subcategory</label>
            <select class="form-control" [ngClass]="{'c-input--danger': submitted && f.subCategory.errors}"
              id="subCategory" name="subCategory" formControlName="subCategory">
              <option *ngFor="let item of subCategoryArr" value="{{item.id}}">{{item.title}}</option>
            </select>
            <small *ngIf="submitted && f.subCategory.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.subCategory.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Subcategory is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="showSubcats">
          <div class="form-group">
            <label for="bookingPlatform">Booking Platform</label>
            <select class="form-control" [ngClass]="{'c-input--danger': submitted && f.bookingPlatform.errors}"
              id="bookingPlatform" name="bookingPlatform" formControlName="bookingPlatform"
              (change)="onBusinessType($event.target.value)">
              <option *ngFor="let item of platformsArr" value="{{item.name}}">{{item.name}}</option>
            </select>
            <small *ngIf="submitted && f.bookingPlatform.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.bookingPlatform.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Booking Platform is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Business Contact</label>
            <input type="text" class="form-control" [ngClass]="{'c-input--danger': submitted && f.contact.errors}"
              id="contact" name="contact" formControlName="contact" placeholder="Business Contact" required>
            <small *ngIf="submitted && f.contact.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.contact.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Contact is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Business Email</label>
            <input type="email" class="form-control" [ngClass]="{'c-input--danger': submitted && f.email.errors}"
              id="email" name="email" formControlName="email" placeholder="Email Address" required>
            <small *ngIf="submitted && f.email.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.email.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Email Address is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Business URL</label>
            <input type="email" class="form-control" id="url" name="url" formControlName="url"
              placeholder="Business URL" required>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" [ngClass]="{'c-input--danger': submitted && f.phone.errors}"
              id="phone" name="phone" formControlName="phone" placeholder="Business Mobile No." required>
            <small *ngIf="submitted && f.phone.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.phone.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Mobile No. is required.
              </div>
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group">
            <label for="title">Keywords</label>
            <tag-input formControlName="tags"></tag-input>
          </div>
        </div>
      </div>
      <div class="row">
        <h4 class="u-mb-small u-mt-medium">Postal Address</h4>
        <div class="col-lg-12 col-md-12 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Postal Number</label>
            <input type="text" class="form-control" [ngClass]="{'c-input--danger': submitted && f.postalNumber.errors}"
              id="postalNumber" name="postalNumber" formControlName="postalNumber" placeholder="Postal Number" required>
            <small *ngIf="submitted && f.postalNumber.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.postalNumber.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Postal Number Address is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Postal Suburb</label>
            <input type="text" class="form-control" [ngClass]="{'c-input--danger': submitted && f.postalSuburb.errors}"
              id="postalSuburb" name="postalSuburb" formControlName="postalSuburb" placeholder="Postal Suburb" required>
            <small *ngIf="submitted && f.postalSuburb.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.postalSuburb.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Postal Suburb Address is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="postal-street">Postal Street</label>
            <input class="form-control" [ngClass]="{'c-input--danger': submitted && f.postalStreet.errors}"
              formControlName="postalStreet" type="text" placeholder="Postal Street" required>
            <small *ngIf="submitted && f.postalStreet.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.postalStreet.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Postal Street Address is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Postal State</label>
            <input type="email" class="form-control" [ngClass]="{'c-input--danger': submitted && f.postalState.errors}"
              id="postalState" name="postalState" formControlName="postalState" placeholder="Postal State" required>
            <small *ngIf="submitted && f.postalState.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.postalState.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Postal State Address is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Postal Postcode</label>
            <input type="email" class="form-control"
              [ngClass]="{'c-input--danger': submitted && f.postalPostcode.errors}" id="postalPostcode"
              name="postalPostcode" formControlName="postalPostcode" placeholder="Postal Postalcode" required>
            <small *ngIf="submitted && f.postalPostcode.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.postalPostcode.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Postal Post Code Address is required.
              </div>
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Postal Country</label>
            <!-- <input type="email" class="form-control" id="postalCountry" name="postalCountry" [(ngModel)]="profile.postalCountry" placeholder="Postal Country" required> -->
            <ng-select [clearable]="true" [ngClass]="{'c-input--danger': submitted && f.postalCountry.errors}"
              formControlName="postalCountry" [items]="countriesArr" bindLabel="title" bindValue="title"
              placeholder="Select Country">
            </ng-select>
            <small *ngIf="submitted && f.postalCountry.errors" class="c-field__message u-color-danger">
              <div *ngIf="f.postalCountry.errors.required">
                <i class="fa fa-exclamation-circle"></i> Business Postal Country Address is required.
              </div>
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <h4 class="u-mb-small u-mt-medium">Physical Address</h4>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="sameAddress" name="sameAddress"
              formControlName="isSameAddress" (change)="toggleAddress($event)">
            <label class="form-check-label" for="sameAddress">Is the address of postal is same on
              physical?</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Physical Number</label>
            <input type="text" class="form-control" id="physicalNumber" name="physicalNumber"
              formControlName="physicalNumber" placeholder="Physical Number" required>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="postal-street">Physical Street</label>
            <input class="form-control" formControlName="physicalStreet" type="text" placeholder="Physical Street"
              required>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Physical Suburb</label>
            <input type="text" class="form-control" id="physicalSuburb" name="physicalSuburb"
              formControlName="physicalSuburb" placeholder="Physical Suburb" required>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Physical State</label>
            <input type="email" class="form-control" id="physicalState" name="physicalState"
              formControlName="physicalState" placeholder="Physical State" required>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Physical Postcode</label>
            <input type="email" class="form-control" id="physicalPostcode" name="physicalPostcode"
              formControlName="physicalPostcode" placeholder="Physical Postalcode" required>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="title">Physical Country</label>
            <!-- <input type="email" class="form-control" id="physicalCountry" name="physicalCountry" formControlName="physicalCountry"
            placeholder="Physical Country" required> -->
            <ng-select [clearable]="true" formControlName="physicalCountry" [items]="countriesArr" bindLabel="title"
              bindValue="title" placeholder="Select Country">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div #map id="map"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="saveChanges()" [disabled]="isSaving"><i class="fa fa-spinner fa-pulse"
      *ngIf="isSaving"></i> Save</button>
  <button class="btn btn-outline-secondary" (click)="bsModalRef.hide()" [disabled]="isSaving">Close</button>
</div>
