#map {
  height: 400px;
  width: 100%;
}
.c-input--danger {
  border-color: #ed1c24 !important;
  color: #ed1c24 !important;
}

.ng-select.c-input--danger .ng-select-container {
  border-color: #ed1c24 !important;
  color: #ed1c24 !important;
}
