.c-sidebar__brand-text {
	color: #B7C0CD;
}

.c-sidebar__brand-img_thumbnail {
	border: 3px solid #dee2e6;
	border-radius: .25rem;
	width: 50px !important;
}

.c-sidebar__brand-text {
    color: #B7C0CD;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
