<div class="o-page__sidebar is-minimized js-page-sidebar">
  <div class="c-sidebar is-minimized">
    <a class="c-sidebar__brand" (click)="openUserProfile()">
      <img class="c-sidebar__brand-img c-sidebar__brand-img_thumbnail" [src]="profilePicture"
        onError="this.src='./assets/img/logo.png'" alt="Logo">
      <span class="c-sidebar__brand-text">{{businessName}}</span>
    </a>
    <ul class="c-sidebar__list">
      <li class="c-sidebar__item" *ngIf="business.type === 1">
        <a class="c-sidebar__link collapsed" (click)="openProducts()"
          [ngClass]="{'is-active': activeRoute('products')}">
          <span class="c-sidebar__icon">
            <i class="fa fa-shopping-cart"></i>
          </span>Products
        </a>
        <!-- <ul class="c-sidebar__submenu collapse" id="sidebar-submenu" *dropdownMenu>
          <li class="c-sidebar__item">
            <a class="c-sidebar__link" (click)="openProducts()">
              <span class="c-sidebar__icon">
                <i class="fa fa-list"></i>
              </span><small>Product List</small>
            </a>
          </li>
          <li class="c-sidebar__item">
            <a class="c-sidebar__link" (click)="openImportProducts()">
              <span class="c-sidebar__icon">
                <i class="fa fa-upload"></i>
              </span><small>Import Products</small>
            </a>
          </li>
        </ul> -->
      </li>
      <li class="c-sidebar__item" *ngIf="business.type === 1">
        <a class="c-sidebar__link" [ngClass]="{'is-active': activeRoute('company-bio')}" (click)="openCompany()">
          <span class="c-sidebar__icon">
            <i class="fa fa-address-card"></i>
          </span>Company Bio
        </a>
      </li>
      <li class="c-sidebar__item" *ngIf="business.type == 1">
        <a class="c-sidebar__link" [ngClass]="{'is-active': activeRoute('social-links')}" (click)="openSocialLinks()">
          <span class="c-sidebar__icon">
            <i class="fa fa-share-alt-square"></i>
          </span>Social Links
        </a>
      </li>
      <li class="c-sidebar__item has-submenu" dropdown>
        <a class="c-sidebar__link" dropdownToggle [ngClass]="{'is-active': activeRoute('media')}">
          <span class="c-sidebar__icon">
            <i class="fa fa-film"></i>
          </span>Media Files
        </a>
        <ul class="c-sidebar__submenu collapse" id="sidebar-submenu" *dropdownMenu>
          <li class="c-sidebar__item">
            <a class="c-sidebar__link" (click)="openMedia('images')" [ngClass]="{'is-active': activeRoute('images')}">
              <span class="c-sidebar__icon">
                <i class="fa fa-file-image-o"></i>
              </span><small>Images</small>
            </a>
          </li>
          <li class="c-sidebar__item">
            <a class="c-sidebar__link" (click)="openMedia('logos')" [ngClass]="{'is-active': activeRoute('logos')}">
              <span class="c-sidebar__icon">
                <i class="fa fa-file-code-o"></i>
              </span><small>Logos</small>
            </a>
          </li>
          <li class="c-sidebar__item">
            <a class="c-sidebar__link" (click)="openMedia('prints')" [ngClass]="{'is-active': activeRoute('prints')}">
              <span class="c-sidebar__icon">
                <i class="fa fa-file-pdf-o"></i>
              </span><small>Prints</small>
            </a>
          </li>
          <li class="c-sidebar__item">
            <a class="c-sidebar__link" (click)="openMedia('videos')" [ngClass]="{'is-active': activeRoute('videos')}">
              <span class="c-sidebar__icon">
                <i class="fa fa-file-movie-o"></i>
              </span><small>Videos</small>
            </a>
          </li>
          <li class="c-sidebar__item">
            <a class="c-sidebar__link" (click)="openMedia('albums')" [ngClass]="{'is-active': activeRoute('albums')}">
              <span class="c-sidebar__icon">
                <i class="fa fa-folder-o"></i>
              </span><small>Albums</small>
            </a>
          </li>
          <li class="c-sidebar__item">
            <a class="c-sidebar__link" (click)="openMedia('collections')"
              [ngClass]="{'is-active': activeRoute('collections')}">
              <span class="c-sidebar__icon">
                <i class="fa fa-files-o"></i>
              </span><small>Collections</small>
            </a>
          </li>
          <li class="c-sidebar__item" *ngIf="business.type === 2">
            <a class="c-sidebar__link" (click)="openMedia('channels')"
              [ngClass]="{'is-active': activeRoute('channels')}">
              <span class="c-sidebar__icon">
                <i class="fa fa-video-camera"></i>
              </span><small>Channels</small>
            </a>
          </li>
        </ul>
      </li>
      <li class="c-sidebar__item" *ngIf="business.role == 1 || business.role == 2">
        <a class="c-sidebar__link" [ngClass]="{'is-active': activeRoute('users')}" (click)="openUsers()">
          <span class="c-sidebar__icon">
            <i class="fa fa-user-circle-o"></i>
          </span>Users
        </a>
      </li>
      <li class="c-sidebar__item" *ngIf="business.type == 1 && (business.role == 1 || business.role == 2)">
        <a class="c-sidebar__link" [ngClass]="{'is-active': activeRoute('staff')}" (click)="openStaffs()">
          <span class="c-sidebar__icon">
            <i class="fa fa-users"></i>
          </span>Staff
        </a>
      </li>
      <li class="c-sidebar__item" *ngIf="business.type == 2">
        <a class="c-sidebar__link" [ngClass]="{'is-active': activeRoute('location')}" (click)="openLocation()">
          <span class="c-sidebar__icon">
            <i class="fa fa-map"></i>
          </span>Location
        </a>
      </li>
      <li class="c-sidebar__item" *ngIf="business.type == 2">
        <a class="c-sidebar__link" [ngClass]="{'is-active': activeRoute('creators')}" (click)="openCreators()">
          <span class="c-sidebar__icon">
            <i class="fa fa-users"></i>
          </span>Creators
        </a>
      </li>
    </ul>
    <ul class="c-sidebar__list" *ngIf="business.role === 1">
      <li class="c-sidebar__item">
        <a class="c-sidebar__link" [ngClass]="{'is-active': activeRoute('connected')}" (click)="openConnectedBusiness()">
          <span class="c-sidebar__icon">
            <i class="fa fa-code-fork"></i>
          </span>Connected Business
        </a>
      </li>
    </ul>
  </div>
</div>
<main class="o-page__content">
  <header class="c-navbar u-mb-medium">
    <button class="c-sidebar-toggle u-mr-small">
      <span class="c-sidebar-toggle__bar"></span>
      <span class="c-sidebar-toggle__bar"></span>
      <span class="c-sidebar-toggle__bar"></span>
    </button>
    <div class="u-mr-auto"></div>
    <div class="c-dropdown" *ngIf="business.role === 1">
      <a class="c-notification">
        <span class="c-notification__icon">
          <i class="fa fa-bell"></i>
        </span>
        Notifications
      </a>
    </div>
    <div class="c-dropdown">
      <a class="c-notification" (click)="openHome()">
        <span class="c-notification__icon">
          <i class="fa fa-users"></i>
        </span>
        Accounts
      </a>
    </div>
    <div class="c-dropdown">
      <a class="c-notification" (click)="logOutApp()">
        <span class="c-notification__icon">
          <i class="fa fa-sign-out"></i>
        </span>
        Logout
      </a>
    </div>
  </header>
  <router-outlet></router-outlet>
</main>
