<h2 class="u-h3 u-mb-small">Channels</h2>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <!--
      =========================================================================================================
      =========================================================================================================
      =========================================================================================================
     -->
    <div class="c-gallery-card">
      <div *ngIf="showContentChannels">
        <div class="row" *ngIf="!showContentChannelsErr">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of channelArr">
            <div class="card mb-3 shadow-sm">
              <div class="progressive-image card-img-top" *ngIf="item.video != null" style="height: 200px;">
                <div class="loadingImage"
                  [ngStyle]="{'background': 'url(' + (item.video[0]?.image200 | linkHttp) + ')'}"
                  [attr.data-image]="item.video[0]?.previewImage | linkHttp">
                </div>
                <div class="overlay"></div>
              </div>
              <img src="../assets/img/thumb.jpg" *ngIf="item.video == null">
              <div class="card-body">
                <p class="card-text"><b>{{item.title}}</b></p>
                <p class="card-text" *ngIf="item.totalVideos">{{item.totalVideos}} Videos</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                      (click)="viewChannel(item)">View</button>
                    <button type="button" class="btn btn-sm btn-outline-danger"
                      (click)="deleteChannels(item)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="channelArr && channelArr.length < 1">
          <div class="col-lg-12 text-center">
            <div class="myCardNotif">
              <div class="u-text-center u-p-medium">
                <img src="../../assets/img/error.png" />
                <p class="apperror u-mt-small">There are no channels available</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="channelArr && channelArr.length >= perPage">
          <div class="col-lg-12 text-center">
            <button class="btn btn-secondary" (click)="viewMore()" *ngIf="!showLoading">View more</button>
            <button class="btn btn-secondary" *ngIf="showLoading"><span class="fa fa-spinner fa-pulse"></span>&nbsp;
              Loading...</button>
          </div>
        </div>
        <div class="myCardNotif" *ngIf="showContentChannelsErr">
          <div class="u-text-center u-p-medium">
            <img src="../../assets/img/error.png" />
            <p class="apperror u-mt-small">{{channelsContentErr.message}}</p>
          </div>
        </div>
      </div>
      <div class="row text-center text-lg-left" *ngIf="!showContentChannels">
        <div class="no-image col-lg-4 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of imagesLoadingArr">
          <div class="d-block mb-4 h-100">
            <div class="card mb-3 shadow-sm">
              <app-skeleton-item height="200px"></app-skeleton-item>
              <div class="card-body">
                <app-skeleton-item height="24px" width="67%"></app-skeleton-item>
                <app-skeleton-item height="14px" width="47%"></app-skeleton-item>
                <app-skeleton-item height="40px" radius="8px"></app-skeleton-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
